/**
 * Bootstrap Modal
 */
.modal-header {
  border-bottom: none;
}
.modal-dialog {
  width: 850px;

  .close {
    border: none;
    border-radius: 25px;
    padding: 0 5px;
	color: $color-primary;
	opacity: 1;
	&:hover {
	  color: darken($color-primary, 6%);
	}
  }
}
.modal-content {
  border-radius: 0;
}
.modal-header {
  padding: 24px;
}
.modal-body {
  padding: 0 67px 67px;
}

/**
 * Contact Form 7
 */
.custom-input {
  width: 0;
  height: 0;
  padding: 0;
  bottom: 0;
  min-height: 0 !important;
}

.wpcf7-form .wpcf7-acceptance label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;
  /*top: -35px; */
}

.wpcf7-form .wpcf7-acceptance input[type=checkbox] {
  position: relative;
  visibility: hidden;
  width: 22px;
  height: 16px;
}

.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span {
  /*   border: 3px solid red;  */
}

.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 0;
  height: 18px;
  width: 18px;
  top: 2px;
  left: 0;
  border: 2px solid #FFF;
  background-color: #FFF;
}

.wpcf7-form .wpcf7-acceptance input[type=checkbox] + span:after {
  display: block;
  position: absolute;
  content: '\2713';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: -2px;
  left: 4px;
  visibility: hidden;
  font-size: 16px;
  color: #000;
}

.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:before {
  background: #FFF;
}

.wpcf7-form .wpcf7-acceptance input[type=checkbox]:checked + span:after {
  visibility: visible;
}

span.wpcf7-list-item {
  margin-left: 0;
}

.form-group-email {
  margin-bottom: 5px;
}

.wpcf7-form {
  padding-bottom: 50px;
}

div.wpcf7-response-output {
  margin: 0.2em 0.5em 1em;
}

/**
 * Radio Buttons
 */
.wpcf7-form .wpcf7-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 0;
}

.wpcf7-form .wpcf7-radio input[type=radio] {
  position: relative;
  visibility: hidden;
}

.wpcf7-form .wpcf7-radio input[type=radio] + span {
  /*   border: 3px solid red;  */
}

.wpcf7-form .wpcf7-radio input[type=radio] + span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 25px;
  height: 18px;
  width: 18px;
  top: 5px;
  left: 0;
  border: 2px solid #FFF;
  background-color: #FFF;
}

.wpcf7-form .wpcf7-radio input[type=radio] + span:after {
  display: block;
  position: absolute;
  content: '\25CF';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 1px;
  left: 2px;
  visibility: hidden;
  font-size: 23px;
  color: $color-primary;
}

.wpcf7-form .wpcf7-radio input[type=radio]:checked + span:before {
  background: #FFF;
}

.wpcf7-form .wpcf7-radio input[type=radio]:checked + span:after {
  visibility: visible;
}

.os-windows, .os-android, .os-linux, .os-mac {
  label {
    padding-left: 10px !important;
  }
  input[type=checkbox] {
    width: 22px;
    height: 16px;
    min-height: 0;
  }
}

.windows-qty, .android-qty, .linux-qty, .mac-qty {
  display: inline-block;
  width: 90px;
}

.windows-version, .android-version, .linux-version, .mac-version {
  display: inline-block;
  width: 90px;
}

/**
 * Checkbox additional services
 */
.wpcf7-form .aditional-services label {
  position: relative;
  cursor: pointer;
  padding-left: 5px;
  /*top: -35px; */
}

.wpcf7-form .aditional-services input[type=checkbox] {
  position: relative;
  visibility: hidden;
  width: 22px;
  height: 16px;
  min-height: 0;
}

.wpcf7-form .aditional-services input[type=checkbox] + span {
  /*   border: 3px solid red;  */
}

.wpcf7-form .aditional-services input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 0;
  height: 18px;
  width: 18px;
  top: 5px;
  left: 0;
  border: 2px solid #FFF;
  background-color: #FFF;
}

.wpcf7-form .aditional-services input[type=checkbox] + span:after {
  display: block;
  position: absolute;
  content: '\2713';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 3px;
  left: 4px;
  visibility: hidden;
  font-size: 16px;
  color: #000;
}

.wpcf7-form .aditional-services input[type=checkbox]:checked + span:before {
  background: #FFF;
}

.wpcf7-form .aditional-services input[type=checkbox]:checked + span:after {
  visibility: visible;
}

.wpcf7-form .aditional-services .wpcf7-list-item {
  margin-right: 20px;
}

span.wpcf7-not-valid-tip {
  color: #252525
}

.row-margin-10 {
  margin-bottom: 10px;

  .col-md-2, .col-xs-4 {
    padding-right: 0;
  }
}

.mc4wp-checkbox input {
  min-height: 20px !important;
}

.wpcf7-form .mc4wp-checkbox-contact-form-7 {
  input[type=checkbox] {
	float: none;
	width: auto;
	position: static;
	margin: 0 6px 0 0;
	padding: 0;
	vertical-align: middle;
	display: inline-block !important;
	max-width: 21px;
	-webkit-appearance: checkbox;
  }

  label {
	span {
	  @include font-family(1, 300, normal, null, condensed, -0.32px);
	  @include fs(16px);
	}
	padding-left: 0;
  }
}

.wpcf7-form .radio-customer {
  .wpcf7-radio {
	display: block;

	.wpcf7-list-item {
	  display: block;
	  position: relative;

	  input {
		width: 20px;
		height: 20px;
		min-height: inherit;
		display: inline;
		margin-top: 0;
	  }

	  .wpcf7-list-item-label {
		@include font-family(1, 300, normal, null, condensed, -0.32px);
		@include fs(16px);
	  }
	}

	.wpcf7-list-item.first {
	  .wpcf7-list-item-label {
		&:after {
		  top: 1px;
		}
	  }
	}

	.wpcf7-list-item.last {
	  .wpcf7-list-item-label {
		&:after {
		  top: 2px;
		}
	  }
	}
  }
}

.wpcf7-form {
  .wpcf7-select {
	@include font-family(1, 300, normal, null, condensed, -0.28px);
	@include fs(14px);
	color: #999999;
  }
}

div.wpcf7 .ajax-loader {
  background-image: none !important;
  visibility: hidden;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  margin: 0 0 0 4px;
  vertical-align: middle;
}

div.wpcf7  .ajax-loader.is-active {
  visibility: visible;
}

span.ajax-loader {
  display: none !important;

  &.is-active {
	display: none !important;
  }
}
