.pagination-container {
  .pagination {
	li.active span {
	  background-color: $color-primary;
	  border: 1px solid $color-primary;
	}

	li {
	  span, a {
		margin-right: 10px;
		padding: 8px 16px;
		border-radius: 25px;
		background-color: #F4F4F4;
	  }

	  a {
		color: $black;

		&:hover {
		  background-color: darken($color-primary, 8%);
		  color: $white;

		  .fa {
			color: $white;
		  }
		}
	  }

	  .fa {
		color: $color-primary;
	  }
	}
  }
}
