// PAGINA DE BIENVENIDA DESPUES DE LOGIN
.logged-in.woocommerce-account {
    .user-dashboard {
        text-align: center;
        max-width: none;

        h3 {
            @include subtitulo-cuenta;
        }

        h3, p {
            margin-bottom: 20px;
        }

        ul.account-buttons {
            @include list-unstyled;
            @include margin(0 auto);
            max-width: 560px;
            width: 100%; 
            li {
                @include reset-content(false); // reset ::before
                @include calc(width, 33.3333%, 4px);
                @include padding(0);
                text-align: center;
                a {
                    width: 100%;
                    @include main-button-style;
                    @include padding(5px 10px);
                    border: none;
                }

            }   

            @include media-breakpoint(570px, max-width) {
                max-width: none;
                li {
                    @include block(0 0 10px);
                }  
            }
        }
    }    
}