

.woocommerce-MyAccount-content {

    > p {
        font-weight: $font-bold;
        text-align: center;
        line-height: normal;
    }

    mark[class*="order"] {
        @include padding(0);
        background: none;
        color: $color-main;
        font-weight: $font-bold;
    }

    // tabla
    section.woocommerce-order-details {
        @include margin(0 auto 20px);
        max-width: 720px;
        width: 100%;

        .woocommerce-order-details__title {
            @include subtitulo-cuenta;
            margin-bottom: 20px;


        }

        // tabla
        table.shop_table {
            tbody {
                td {

                    &.product-name {
                        text-align: left;
                    }

                    ul.wc-item-meta {
                        @include padding(0);
                        @include em(14px);
                        margin-bottom: 15px;
                        p {
                            display: inline-block;
                            width: auto;
                        }
                    }
                }
                tr {
                    &:last-child {
                        td {
                            border-bottom: none;
                        }
                    }
                }
            }
            @include tfoot;
            tfoot {
                td {
                    text-align: right;
                }
                tr {
                    &:first-child {
                        th, td {
                            padding-top: 15px;
                        }
                    }
                    &:last-child {
                        th, td {
                            padding-bottom: 15px;   
                        }
                    }
                }
            }
        }
    }

    // .order-bacs-payment {
    [class*="bacs"] {
        @include margin(0 auto);
        max-width: 720px;

        > p {
            font-weight: $font-bold;
            text-align: center;
            line-height: normal;
        }

        h2 {
            @include subtitulo-cuenta;
            margin-bottom: 20px;
        }
        h3 {
            color: $black;
        }
        .order_details {
            li {
                text-align: center;
                float: none;
                display: inline-block;
                &:nth-of-type(1), &:nth-of-type(5) {
                    color: $color-main;
                }
                &:nth-of-type(2), &:nth-of-type(6) {
                    color: $color-main;
                }
                &:nth-of-type(3) {
                    color: $color-default;
                }
                &:nth-of-type(4) {
                    color: $color-main;
                }
            }   

            @include order-detail;
        }
    }

    section.woocommerce-customer-details {
        @include margin(0 auto 20px);
        max-width: 720px;
        h2 {
            @include subtitulo-cuenta;
            margin-bottom: 20px;
        }
        address {
            @include padding(10px);
            border: solid 2px $color-main;   
            text-align: left;
            line-height: normal;
            p {
                @include block;
                @include padding(0);
                text-align: left;
                font-weight: $font-regular;
                color: $color-text;
                &:before {
                    display: inline-block;
                    margin: 0;
                    position: static;
                    margin-right: 6px;
                }

                &.woocommerce-customer-details-{
                    &-phone, &-email {
                        margin-top: 10px;
                        &:before {
                            @include font-awesome();
                        }
                    }

                    &-phone {
                        &:before {
                            @include font-awesome-icon('\f095');
                        }
                    }
                    &-email {
                        &:before {
                           @include font-awesome-icon('\f0e0');
                        }
                    }
                }
            }
        }

    }
    .order-print {
        @include print-order;
    }
}