

div.woocommerce-address-fields {
    @extend %max-account;
    .form-row {
        @include form-row;
        .subscribe-field {
            float: left;
            @include em(12px);
            label[class] {
                line-height: 22px;
                display: inline-block;
                &:hover, &:active, &:focus {
                    cursor: pointer;
                }
            }
        }

        textarea {
            max-width: none;
            width: 100%;
        }
    }
    .form-row {
        &-first, &-last {
            @include float(left);
            width: 50%
        }
        &-first {
            padding-right: 5px;
            clear: left;
        }
        &-last {
            padding-left: 5px;
        }
        @media screen and (max-width: 480px) {
            &-first, &-last {
                @include block(0 0 20px);
                @include padding(0);
            }
        }

        // input[]
        input[type] {
            max-width: none;
            line-height: 32px;
        }
        textarea {
            max-width: none;
            min-height: 120px;
        }
    }
}