
// FORM LOGIN
@at-root .woocommerce-account { 

    #customer_login {
        @include reset-content;
        @include clearfix;
        > div[id*="-woocommerce"] {
            @include margin(0 auto);
            max-width: 520px;
            width: 100%;
            display: block;
            float: none;

            // titulo <h2>
            h2 {
                @include subtitulo-cuenta;
            }

            .form-row {
                @include form-row;
            }

            // Inputs de login
            input[type] {
                line-height: 40px;
            }

            // button de la accion
            .woocommerce-Button {
                @include margin(0 auto);
                line-height: $line-height-buttons;
                max-width: none;
                width: 100%;
                
            }

            div.do {
                &-register, &-login {
                    padding-top: 20px;

                    p {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }   
}

.lost_password {
    @include em(14px);
}