
// tabla de mis pedidos
table.woocommerce-MyAccount-orders {
    thead {
        @include media-breakpoint(720px, max-width) {
            display: none;
        }
    }

    tbody {
        tr {
            td[class] {
                // Acciones
                &.woocommerce-orders-table__cell-order-actions {

                    .woocommerce-button {
                        @include button-light(false);
                        @include padding(0 10px);
                        @include calc(width, 50%, 8px);
                        @include margin(0 4px 8px);
                        @include em(15px);
                        border-color: $color-gris-60;
                        color: $color-gris-60;
                        font-weight: $font-regular;
                        position: relative;
                        display: block;
                        clear: none;
                        line-height: 24px;
                        display: inline-block;
                        text-align: center;
                        &:hover, &:active, &:focus {
                            border-color: darken($color-main, 3%);
                        }
                        &:after {
                            @include font-awesome();
                            @include em(16px);
                            display: inline-block;
                            margin-left: 4px;
                        }

                        // ver
                        &.view {
                            //float: left;
                            &:after {
                                @include font-awesome-icon('\f105');
                            }
                        }

                        // Imprimir
                        &.print {
                            //float: right;
                            &:after {
                                @include font-awesome-icon('\f02f');
                            }
                        }

                        &:nth-child(2n+1) {
                            float: left;
                        }

                        // media
                        @media screen and (min-width: $media-small) and (max-width: 800px) {
                            @include block(0 0 6px);

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                        @media screen and (max-width: $media-xs) {
                            //@include block(0 0 6px);

                            &:last-of-type {
                                //  margin-bottom: 0;
                            }
                        }
                    }
                }


                // ===> LAYOUT EN RESPONSIVO <=== 
                @include media-breakpoint(720px, max-width) {
                    padding-top: 30px + 10px;
                    position: relative;
                    border: none;
                    &:before {
                        @include em(($font-size - 2px));
                        font-weight: $font-regular;
                        content: attr(data-title);
                        background: $color-main;
                        display: block;
                        width: 100%;
                        line-height: 30px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;
                        color: $white;
                        border:none;
                    }

                    &.product-name {
                        &:before {
                            text-align: left;
                            text-indent: 10px;
                        }
                    }
                    &.product-remove {
                        padding-right: 10px;
                        &:before {
                            overflow: hidden;
                            color: transparent;
                        }
                    }
                }

                @include media-breakpoint(600px, max-width) {
                    &[class] {
                        @include float;
                        width: 50%;
                        padding-bottom: 20px;
                        text-align: center;
                    }

                    &[class].woocommerce-orders-table__cell-order-actions {
                        clear: left;
                        width: 100%;
                        text-align: center;   
                        &:before{
                            background: color-gris(5);
                            color: $color-main;
                            border-bottom: solid 1px color-gris(25);
                            border-right: none !important;
                            border-left: none !important;

                        }
                    }
                }
            }
        }
    }
}



