/* === MAIN CONTAINER  === */
#{$woocommerce} {
  #main {
	margin-top: 30px;
  }
}

/* === COLUMNA DE FILTROS  === */
#{$columna-filtros} {
    width: 100%;
    // ---> 600
    @include media-breakpoint($media-small) {
        @include float;
        @include padding(8px 15px);
        width: 200px;
    }
}

/* === COLUMNA DE CONTENIDO  === */
#{$columna-container} {
    @include transition;
    @include blur(0);
    width: 100%;

    // @at-root body:not(.post-type-archive-product)#{&} {
        // ---> 600
        @include media-breakpoint($media-small) {
            @include float;
            @include calc(width, 100%, 200px);
        }
    // }

    /*  Opacidad al contenedor de los productos
     *   cuando está abierto el toggle de filtros
     */
    // ---< 600
    &.filter-drop-open {
        @include media-breakpoint(($media-sm - 1px), max-width) {
            opacity: .13;
            pointer-events: none;
        }
    }

  .products {
	.woocommerce-loop-product__excerpt {
	  @include font-family(1, 300, normal, null, condensed, 0px, null);
	  @include fs(16px);
	  color: #707070;
	  line-height: 20px;
	}
  }
}
