/* === LISTADO DE PRODUCTOS === */
.woocommerce {
  /* Listado de los Productos */
  ul.products[class] {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    @include justify-content(flex-start);
    margin: 0 0 15px;

    li.product {
      @include flex(1 0 auto);
      width: 100%;
	  max-width: 100%;
      display: block;
      margin: 0 0 15px;
	  @include media-breakpoint(320px) {
		max-width: 49% !important;
		width: 100% !important;
	  }
	  @include media-breakpoint($media-xs) {
		max-width: 33% !important;
		width: 100% !important;
	  }
    }

    li.product {
      /* ESTILO DEL ITEM */
      @extend %item;
    }

    /*
        &[class*="columns"] {
            li.product {
                @media screen and (max-width: $media-xs - 1) {
                    width: 50%;

                    &:nth-child(2n + 1) {
                        clear: left;
                    }
                }
            }
        }
        */

    // style

    /*
        &.columns-4 {
            li.product {
                @media screen and (min-width: $media-xs) and (max-width: $media-md - 1) {
                    width: 33.3333%;

                    &:nth-child(3n + 1) {
                        clear: left;
                    }
                }
                @media screen and (min-width: $media-md) {
                    width: 25%;
                }
            }
        }
        &.columns-3 {
            li.product {
                @media screen and (min-width: $media-xs) {
                    width: 33.3333%;

                    &:nth-child(3n + 1) {
                        clear: left;
                    }
                }
            }
        }
        */
  }
}

// Quick View
ul.products {
  li.product {
    position: relative;
    padding-bottom: 10px;

	.woocommerce-loop-product__title {
	  @include font-family(1, bold, nomral, null, condensed, -0.32px, null);
	  @include fs(16px);
	}

    // div contenedor de la imagen y del quick view
    .product-image-container {
      position: relative;
      &:before {
        @include transition(200ms);
        // @include transform-translate(-50%, -50%);
        // top: 50%;
        // left: 50%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($white, 0.65);
        z-index: 5;
        display: block;
        opacity: 0;
        pointer-events: none;
      }
    }

    // Quick view
    a.xoo-qv-button {
      @include font-family(2, $font-semibold);
      @include transition(200ms);
      @include border-radius(100%);
      @include padding(0);
      @include em(14px);
      border: none;
      background: $color-main;
      color: $white;
      line-height: 35px;
      opacity: 0;
      visibility: visible;
      display: block;
      width: 35px;
      height: 35px;
      text-align: center;
      position: absolute;
      left: auto;
      top: auto;
      right: -5px;
      bottom: -5px;
      opacity: 1;
      @include box-shadow(1px 1px 5px 0px rgba($black, 0.15));
      text-align: center;
      &:hover,
      &:active,
      &:focus {
        visibility: visible;
        //opacity: 0.8;
        background: $color-default;
      }
      // icono de ver
      .xoo-qv-btn-icon {
        @include block-size(100%);
        text-align: center;
        display: block;
        color: inherit;
        margin: 0;
        font-size: 19px;
        line-height: 35px;
      }
    }

    @media screen and (min-width: $media-sm) {
      // hover al li > aplica al href
      &:hover,
      &:active,
      &:focus {
        a.xoo-qv-button {
          opacity: 0.65;
          z-index: 9;
          &:hover,
          &:active,
          &:focus {
            opacity: 1;
          }
        }
      }
      //hover al li
      /*
            &.quick-view-hover {
                .product-image-container {
                    &:before {
                        opacity: 1;
                        pointer-events: none;
                    }
                }
                .product-title-container {
                    a.xoo-qv-button {
                        &:hover,&:active, &:focus {
                            opacity: 1;
                        }
                    }
                }
            }
            */
    }
  }
}
