
// boton de agregar a mis favoritos
#{$favoritos} {
    @extend %boton-de-favoritos;
} 
body[class] {
    .tinvwl_add_to_wishlist_button.disabled-add-wishlist, 
    .tinvwl_add_to_wishlist_button.tinvwl-button.disabled-add-wishlist {
        &:not(.tinvwl-product-in-list) {
            pointer-events: none;    
        }
    }    
}


#content {
    div.tinv-wishlist.woocommerce {
        .tinv-header {
            display: none;
        }

        table.shop_table {
            
            thead {
                @include media-breakpoint(720px, max-width) {
                    display: none;
                }
            }

            @media screen and (max-width: 1024px) and (min-width: 641px) {
                th.product-action,
                td.product-action {
                    width: 20% !important;
                }
            }

            tbody {
                tr {

                    // <td> => Imagen
                    @include table-thumbnail;

                    // <td> => Info del producto
                    @include table-info-producto;

                    // <td> => Precio del producto & subtotales
                    @include table-precio;

                    td {
                        border-left: none;
                        border-right: none;
                        text-align:center;


                        &.product-thumbnail {
                            vertical-align: top;
                        }

                        // nombre del producto
                        &.product-name {
                            .product-title {
                                font-weight: $font-regular;
                                text-align: left;
                                color: $color-text;
                                a {
                                    font-weight: $font-regular;
                                    width: auto;
                                }
                            }

                            dl.variation {
                                @include block(0 0 20px);
                                @include em(14px);
                                color: $color-text;

                                dt, dd {
                                    @include margin(0);
                                    font-weight: $font-regular;
                                    color: inherit;
                                    font-weight: normal;
                                    line-height: 1.3;
                                    color: $color-gris-60;
                                }

                                p {
                                    @include margin(0 5px 0 0);
                                    line-height: 1.3;
                                }
                            }
                        }

                        &.product {
                            &-price, &-date, &-stock  {
                                @include em(14px);
                            }
                        }

                        // en stock
                        &.product-stock {
                            p {
                                display: inline-block;
                                width: 100%;
                                text-align: center;

                                span {
                                    display: inline;
                                }
                            }
                            i {
                                margin-right: 8px;
                            }
                        }

                        // eliminar
                        .product-remove {
                            display: inline-block;
                            button {
                                @include border-radius(2px);
                                @include em(10px);
                                text-transform: uppercase;
                                display: inline-block;
                                width: auto;
                                font-weight: $font-bold;
                                color: $color-gris-25 !important;
                                position: relative;							
                                background: none;
                                height: auto;
                                text-indent: 0;

                                &:before {
                                    @include font-awesome('\f00d');
                                    display: inline-block;
                                    margin-right: 2px;
                                }

                                &:hover, &:active, &:focus {
                                    color: $color-main !important;
                                }

                                @media screen and (max-width: 720px) {
                                    &:before {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }

                    // <td> => acciones
                    .product-action {
                        width: 250px;

                        .tinvwl-txt.button {
                            //@include button-light;
                            @include set-new-button-style(white, $color-text, $color-gris-25);
                            @include set-new-button-hover(color-gris(1), $color-main, $color-main);
                            @include em(14px);
                            @include padding(0 15px);
                            @include margin(0 auto);
                            @include calc(width, 100%, 20px);   
                            @include border-radius(2px);
                            font-weight: $font-regular;
                            position: relative;
                            display: inline-block;
                            clear: none;
                            line-height: 30px;
                            width: auto;

                            .icon-icon-fa {
                                display: inline-block;
                                position: relative;
                                margin-right: 6px;
                            }
                        }
                    }

                    // <td> => remover
                    //@include table-remove;

                    td[class] {
                        @media screen and (max-width: 720px) {
                            // font-size: 14px;
                            padding-top: 30px + 10px;
                            position: relative;
                            border: none;

                            &:before {
                                @include em(($font-size - 2px));
                                font-weight: $font-bold;
                                content: attr(data-title);
                                background: $color-primary;
                                color: $white;
                                display: block;
                                width: 100%;
                                line-height: 30px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                text-align: center;
                                border: none;
                            }
                            &:first-child {
                                &:before {
                                    text-align: left;
                                    text-indent: -9999em;
                                }
                            }
                            &.product-name {
                                &:before {
                                    text-align: left;
                                    text-indent: 10px;
                                }
                            }
                        }

                        @media screen and (max-width: 640px) {
                            @include float;
                            width: 30%;
                            padding-bottom: 8px;
                            min-height: 0;
                            &.product-thumbnail {
                                a {
                                    width: 100%;
                                }
                            }
                            &.product-name {
                                &:before {
                                    text-align: left;
                                    text-indent: -15%;
                                }
                            }
                            &.product-price { clear: left;}
                            &.product-stock {
                                &:before {
                                    text-align: center;
                                }
                            }

                            &.product-thumbnail, &.product-name,
                            &.product-price, &.product-date, &.product-stock {
                                width: 50%;
                            }

                            &.product-action {
                                width: 50%;

                                a.tinvwl-txt.button, 
                                .product-remove button {
                                    display: inline-block;
                                    padding: 0 10px;
                                    line-height: 26px;
                                    background: $white;
                                    width: auto;
                                    border: solid 1px $color-main;
                                    color: $color-main;
                                    @include em(13px)
                                    .fa {
                                        margin-right: 6px;
                                    }
                                }
                            }

                            .product-remove {
                                @include padding(0 0 15px);
                                text-align: center;
                                color: $color-main;
                                line-height: 1;

                                button {
                                    border-radius: 3px;
                                    color: $color-main !important;
                                    font-weight: 400;
                                    text-transform: capitalize;

                                    &:before {
                                        margin-right: 6px;
                                    }
                                }
                            }

                            &.product-stock, &.product-action {
                                width: 100%;
                            }

                            // colores
                            &.product-price, 
                            &.product-date, 
                            &.product-quantity, 
                            &.product-stock, 
                            &.product-subtotal, 
                            &.product-action, 
                            &.product-remove {
                                &:before {
                                    background: color-gris(15);
                                    color: $color-main;
                                    border-bottom: none !important;
                                    border-right: none !important;
                                    border-left: none !important;
                                }
                            }
                        }

                        @include media-breakpoint(520px, max-width) {
                            &.product-price, 
                            &.product-date, 
                            &.product-quantity, 
                            &.product-stock, 
                            &.product-action{ 
                                width: 100%;
                            }
                        }
                    }
                    
                    &:last-child {
                        td {
                            &.product-action {
                                @include media-breakpoint(640px, max-width ) {
                                    border-bottom: solid 2px $color-text;
                                }
                            }
                        }
                    }
                }
            }
        }

        ul li {
            &:before {
                content: none;
            }
        }
    }
}
// Listado de items 

// button de agregado/removido de favoritos
.woocommerce .tinv-wishlist .tinvwl_added_to_wishlist.tinv-modal button.button {
    @include set-new-button-style($white, $color-default, $color-default);
    @include set-new-button-style($color-main, $white, $color-main);
}