table.woobt-products {
  border: none;

  tr.woobt-product {
    float: left;
    width: 50%;
    td {
      border: none;
    }
  }
}

.woobt_wrap .woobt_total {
  display: none !important;
}

.woobt-products .woobt-product {
  .woobt-quantity,
  .woobt-choose,
  .woobt-title > a,
  .variations_form .variations .variation .label,
  .variations_form .variations .reset {
    display: none;
  }

  .woobt-title {
    float: left;
    width: 100%;
    @include padding(5px);
  }

  .variations_form .variations {
    width: 100%;

    .variation {
      border: none;
      display: block;
      min-width: auto;
      padding: 0;
      width: 100%;

      .select .select2 {
        width: 100% !important;
      }
    }
  }
}

/* Modal */
// .xoo-cp-container
.variations_form-wrapper {
  margin-top: 20px;
  position: relative;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);

  .wbt-custom-product {
    flex: 0 0 49%;
  }

  .variations_form {
    td {
      display: block;
      margin-bottom: 0 !important;
      text-align: left;
      width: 100%;
    }

    .select2-container {
      min-width: 100%;
    }
  }
}
