

/*
* === Woocommerce ===
*/

$woocommerce            : ".woocommerce";
$columna-filtros        : "#secondary";
$columna-container      : ".archive .main-container .archive-container";
$producto               : "div.product"; 
$detalle                : '.single-product #content';
$favoritos              : ".archive .main-container .tinv-wraper.tinv-wishlist";
$favoritosext           : '#content .main-container .carousel-products .tinv-wraper.tinv-wishlist';
$favoritosDetalle       : $detalle $producto;
$favoritosListado       : null;
$mi-carrito             : ".woocommerce-cart";
$woocommerce-page       : ".woocommerce-page";
$woocommerce-default    : 'body[class*="woocommerce"]';
$woocommerce-cart       : '.woocommerce-cart';
$woocommerce-checkout   : ".woocommerce-checkout";
$woocommerce-pay-order  : "body.woocommerce-order-pay";

