.section-cta {
  background-color: $color-main !important;
  @include background-options(0 0, cover);
  .vc_general.vc_cta3 {
    border: 0;
    color: $white;
    padding: 5% 0;
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $white;
    }
    header {
      padding-bottom: 15px;
      @media (max-width: 767px) {
        padding-bottom: 5px;
      }
      h2 {
        font-size: 25px;
        margin: 0 auto 5px;
        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
      h4 {
        font-size: 40px;
        @media (max-width: 767px) {
          font-size: 35px;
        }
      }
    }
  }
  .vc_cta3-actions {
    button {
      min-width: 200px;
      @include set-new-button-style($color-default, $white, $color-default);
      @include set-new-button-hover(
        lighten($color-default, 5%),
        $white,
        lighten($color-default, 5%)
      );
    }
  }
}
