//Gallery grid ---> carousel
.wpb_gallery_slides {
  .lSSlideWrapper {
    @media (min-width: 1220px) {
      position: inherit !important;
    }
    //items
    .wpb_image_grid_ul {
      li {
        img {
          margin: 0 auto;
        }
      }
    }
    //control
    .lSAction {
      a {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 3px;
        text-align: center;
        i {
          line-height: 32px;
          font-size: 25px;
        }
        &:hover,
        &:active,
        &:focus {
          background-color: $color-main;
        }
      }
      .lSPrev {
        @media (min-width: 1220px) {
          left: -18px;
          margin-top: 15px;
        }
      }
      .lSNext {
        @media (min-width: 1220px) {
          right: -18px;
          margin-top: 15px;
        }
      }
    }
  }
}
