//Carousel - Post Grid - Nuestra historia
.vc_pageable-wrapper {
  .lSSlideOuter {
    .lSSlideWrapper {
      padding-top: 100px;
	  padding-left: 50px;

	  @include media-breakpoint(xsmall, 'max-width') {
		padding-left: 0;
	  }

      //margin: 0 30px;
      //items
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: $gray;
        //background-color: red;
        margin: 0 auto;
        left: auto;
        right: auto;
        top: 71px;
        z-index: -2;
        position: absolute;
      }
      .vc_pageable-slide-wrapper {
        z-index: 1;
        overflow: visible;
        .display-none {
          display: none;
        }
        .vc_grid-item {
          float: left;
          padding-left: 30px !important;

		  @include media-breakpoint(xsmall, 'max-width') {
			padding-left: 5px !important;
			padding-right: 5px !important;
		  }

          .vc_grid-item-mini {
            text-align: center;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: -35px;
              width: 3px;
              height: 35px;
              background: $color-blue;
              display: block;
              margin: 0 auto;
            }
            &:after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: -35px;
              width: 10px;
              height: 10px;
              background: $color-blue;
              display: block;
              margin: 0 auto;
              border-radius: 100%;
            }
            .vc_gitem-zone {
              background-color: $white !important;
              overflow: visible;
              &::before {
                display: none;
              }
              .vc_gitem_row {
                display: block;
                float: left;
                position: relative;
              }
              .vc_gitem-col {
                background-color: $white;
                border-top: 3px solid $color-blue;
                border-bottom: 1px solid $gray;
                border-right: 1px solid $gray;
                border-left: 1px solid $gray;
                border-radius: 0 0 5px 5px;
				padding: 0 !important;

				@include media-breakpoint(xs, 'max-width') {
				  padding: 0 !important;
				}

                //tooltip
                .vc_gitem-post-meta-field-fecha {
                  position: absolute;
                  text-align: center;
                  top: -100px;
                  right: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  margin: 0;
                  background-color: $color-blue;
                  color: $white;
                  display: inline-table;
                  padding: 10px 20px;
                  border-radius: 5px;

                  &:after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    right: 0;
                    left: 0;
                    margin: 0 auto;
                    width: 0;
                    height: 0;
                    border-right: 10px solid transparent;
                    border-top: 10px solid $color-blue;
                    border-left: 10px solid transparent;
                    border-bottom: 10px solid transparent;
                  }
                }
                //image{

                //title
                .vc_gitem-post-data-source-post_title {
                  text-align: left;
                  color: $color-default;
                  font-family: $font-secondary;
                  font-size: 20px;
                }

				.vc_gitem-post-data-source-post_excerpt {
				  p {
					@include font-family(1, 300, normal, null, condensed, 0px, null);
					@include fs(16px);
					@include padding(0 25px);
					text-align: center !important;

					@include media-breakpoint(xsmall, 'max-width') {
					  @include padding(0 20px);
					}
				  }
				}
                //btn
                .vc_btn3-container {
                  display: none;
                }
              }
            }
          }
        }
      }
      //control
      .lSAction {
        width: 100%;
        position: absolute;
        top: 50%;
        left: auto;
        right: auto;
        margin: 0 auto;

		@include media-breakpoint(xsmall, 'max-width') {
		  display: none !important;
		}

        a {
          background-image: none;
          background-color: $gray-dark;
          color: white;
          border-radius: 3px;
          text-align: center;
          top: -15px;
          opacity: 1;
          z-index: 3;
		  width: 60px;
		  height: 60px;
          i {
            line-height: 60px;
            font-size: 35px;
          }
          &:hover,
          &:active,
          &:focus {
            background-color: $color-blue;
          }
        }
        .lSPrev {
          left: -35px;
          margin-top: 0;
        }
        .lSNext {
          right: 60px;
          margin-top: 0;
        }
      }
    }
  }
}

// Custom carousel
#post-grid-tips {
  .vc_pageable-wrapper {
	.lSSlideWrapper {
	  padding: 0;
	}

	.vc_pageable-slide-wrapper {
	  .vc_grid-item {
		padding: 0 15px  0 30px !important;

		@include media-breakpoint(1400px, 'max-width') {
		  padding: 0 20px  0 60px !important;
		}

		@include media-breakpoint(xs, 'max-width') {
		  padding: 0 0  0 60px !important;
		}

		@include media-breakpoint(xsmall, 'max-width') {
		  padding: 0 10px !important;
		}
	  }

	  .vc_gitem-zone {
		.vc_gitem_row {
		  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);

		  .first-col {
			border-radius: 0;
			padding: 20px !important;

			@include media-breakpoint(1400px, 'max-width') {
			  padding: 40px !important;
			}

			@include media-breakpoint(xs, 'max-width') {
			  padding: 15px !important;
			}

			@include media-breakpoint(xsmall, 'max-width') {
			  padding: 50px 10px 10px 10px !important;
			}
		  }

		  .second-col {
			border-radius: 0;

			@include media-breakpoint(xs, 'max-width') {
			  padding: 15px !important;
			}

			@include media-breakpoint(xsmall, 'max-width') {
			  padding: 15px !important;
			}
		  }

		  .vc_gitem-col {
			text-align: left;
			border: none !important;
			display: flex;
			justify-content: center;
			flex-direction: column;

			.vc_gitem-post-data-source-post_title {
			  @include font-family(1, bold, normal, null, condensed, -2px, null);
			  @include fs(40px);
			  line-height: 40px;
			  color: $color-blue;
			  padding-right: 15px;

			  @include media-breakpoint(xsmall, 'max-width') {
				@include fs(30px);
				line-height: 30px;
				padding-right: 0;

				div {
				  text-align: center !important;
				}
			  }
			}

			.vc_gitem-post-meta-field-contenido {
			  @include font-family(1, 300, normal, null, condensed, 0px, null);
			  @include fs(16px);
			  padding-right: 15px;

			  ul {
				list-style: none; /* Remove default bullets */
			  }

			  ul li::before {
				content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
				color: $color-blue; /* Change the color */
				font-weight: bold; /* If you want it to be bold */
				display: inline-block; /* Needed to add space between the bullet and the text */
				width: 1em; /* Also needed for space (tweak if needed) */
				margin-left: -1em; /* Also needed for space (tweak if needed) */
			  }

			  @include media-breakpoint(xsmall, 'max-width') {
				text-align: center;
				padding-right: 0;
			  }
			}

			.wpb_single_image {
			  margin-bottom: 0;
			}
		  }
		}
	  }
	}

	.lSAction {
	  .lSPrev {
		left: 0;
		border-radius: 0;

		@include media-breakpoint(xs, 'max-width') {
		  left: 0;
		}
	  }

	  .lSNext {
		right: 70px;
		border-radius: 0;

		@include media-breakpoint(1400px, 'min-width') {
		  right: 0;
		}

		@include media-breakpoint(xs, 'max-width') {
		  right: 10px;
		}
	  }
	}

	.lSPager {
	  position: absolute;
	  top: 50px;
	  width: 100%;
	  z-index: 400;

	  li a {
		width: 10px;
		height: 10px;
		background-color: $color-text;
	  }

	  li.active {
		a {
		  background-color: $color-blue;
		}
	  }
	}
  }
}
