#content {
  @include padding(0);
  .border-right {
    border-right: 1px solid $gray;
    @media (max-width: 767px) {
      border-right: 0;
    }
  }
  .section-iconos {
    .wpb_content_element {
      .wpb_wrapper {
        p {
          padding: 0 10px;
          @media (max-width: 767px) {
            padding: 0;
          }
        }
      }
    }
  }
}
