.site-footer {
  // common
  .textwidget {
    color: $white;

    p {
	  @include font-family(1, 300, normal, null, condensed, 0px);
      font-size: 16px;
      color: $color-text;

	  strong {
		color: $black;
	  }
    }
    a {
      color: $color-main;
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  @at-root footer#{&} {
    background-color: $color-base;

    .widget-title {
	  @include font-family(1, bold, normal, null, condensed, -0.4px);
	  @include fs(20px);
      color: $color-blue;
      display: inline-block;
      margin-bottom: 15px;
      @include media-breakpoint($media-sm) {
        padding-top: 20px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 14px;
      color: $white;
    }
  }

  .footer-right-sociales {
    @include justify-content(center);
    @include media-breakpoint($media-small) {
      @include justify-content(flex-start);
    }
  }

  // bottom
  &-bottom {
	position: relative;
	padding-top: 30px;
	background-color: #F8F8F8;

	@include media-breakpoint($media-xs) {
	  @include padding(30px 20px);
	}

    a {
      @include transition($transition);
      color: $white;
      &:hover,
      &:active,
      &:focus {
        color: $color-main;
      }
    }

    .footer-right-sociales {
      a {
        &:hover,
        &:active,
        &:focus {
          color: $white;
        }
      }
    }

    .container {
      > div {
        @include padding(15px);
        @include flex(0 0 auto);
      }
    }

    // Imagenes decorativas
    /*@include be_af {
      @include z-index(footer-decoration);
      display: block;
      position: absolute;
      content: none;
      pointer-events: none;
      @include media-breakpoint($media-xs) {
        content: "";
      }
    }
    @include be {
      @include background-options(0 0, 100% auto);
      @include block-size(30px, 60px);
      left: 0;
      top: 0;
    }
    @include af {
      @include background-options(0 0, 100% auto);
      @include block-size(52px, 100px);
      bottom: 0;
      right: 0;
    }*/

    // ------------------------------------------ END

    .container {
      @include display-flex(flex-start, null);
      @include flex-wrap(wrap);
      @include padding(0);

      > div {
        @include padding(15px);
        @include flex(0 1 auto);
        font-size: 15px;
        width: 100%;
        max-width: 580px;
        color: $color-text;
        text-align: center;

        @include media-breakpoint($media-small) {
          text-align: left;
          // los demas divs
          max-width: 50%;
          @include flex(0 1 50%);

          // el primer widget
          @include first-child {
            @media screen and (max-width: ($media-sm - 1px)) {
              max-width: 100%;
              @include flex(0 1 100%);
            }
          }
        }

        @include media-breakpoint($media-xs) {
          @include flex(0 1 33.3333%);
          max-width: 33.3333%;
        }
        @include media-breakpoint($media-sm) {
          max-width: 23.33%;
          @include flex(0 1 23.33%);
        }

        @include last-child {
          @media screen and (max-width: ($media-xs - 1px)) {
            display: none;
          }
        }

		&.site-footer-1 {
		  @include media-breakpoint($media-xs) {
			@include flex(0 1 40%);
			max-width: 30%;
		  }
		}
      }
    }
  }

  // Columna 1
  &-1 {
    .widget_media_image {
      margin-bottom: 25px;
    }
  }
  // Columna 2
  &-2 {
  }
  // Columna 3
  &-3 {
  }
  // Columna 4
  &-4 {
    .menu {
	  @include font-family(1, 300, normal, null, condensed, -0.32px);
      @include list-unstyled(0, 0);
      li {
        a {
		  @include fs(16px);
          cursor: pointer;
          color: $color-primary;
          &:hover,
          &:active,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Copy
  &-copy {
    background-color: $color-blue;
    @include padding(2px 0);
    .container {
      @include media-breakpoint($media-xs) {
        @include display-flex(center, space-between);
      }
      p {
		@include font-family(1, bold, normal, null, condensed, -0.32px);
		@include fs(16px);
        margin: 0;
        color: $color-default;
      }
      > div {
        margin: 0;
        padding: 0 15px;

        &.copy {
          margin-right: auto;
          color: $color-base;
        }
        &.terms {
          margin: 0 auto;
          @include media-breakpoint($media-sm) {
            position: absolute;
            left: 45%;
            @include transform-translate-x(-50%);
          }
        }
        &.logo-baum {
          margin-left: auto;
        }

        @include media-breakpoint(767px, max-width) {
          &.copy,
          &.terms,
          &.logo-baum {
            padding: 0 15px;
            margin: 0 auto 15px;
            text-align: center;
          }
        }
      }
    }

    a {
      color: $color-main;
	  @include font-family(1, 300, normal, null, condensed, -0.32px);
	  @include fs(16px);
    }

    .terms {
      ul {
        @include list-unstyled(0, 0);
        @include media-breakpoint($media-xs) {
          @include display-flex(center, null);
        }
        li {
          margin: 0 10px;
          display: inline-block;
          border-right: 1px solid $color-blue;
          padding-right: 10px;
          &:last-child {
            border-right: 0;
          }
          @include media-breakpoint($media-xs) {
            margin: {
              right: 10px;
              top: 0;
              left: 0;
              bottom: 0;
            }
            @include last-child {
              margin-right: 0;
            }
          }
          a {
            &:hover,
            &:active,
            &:focus {
              color: $color-base;
            }
          }
        }
      }
    }
  }
}

.logo-baum {
  width: 40px;
  @include media-breakpoint($media-xs) {
    margin: {
      left: auto;
    }
  }
  a {
    display: block;
    @include block-size(100%);
  }
  figure {
    margin-bottom: 0;
  }

  #baum_letter {
    @include pulse-animation;
    fill: $black;
    &:hover,
    &:active,
    &:focus {
      @include _do;
    }
  }
}
