/* ## DEFINE EL ESTILO DE LOS PLACEHOLDER */
@include placeholder {
  text-align: left;
}

$types: ("tel", "number", "text", "password", "email", "url");
$textarea: (
  "min-height: 80px",
  "height:auto",
  "resize: vertical",
  "border: solid 1px $color-gris-25",
  "outline: none"
);

form {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

// .woocommerce-page,
// .woocommerce {
form {
  width: 100%;
  label {
    display: block;
    max-width: 100%;
    width: 100%;
    font-family: $font-primary;
    font-weight: $font-semibold;
    color: $color-default;
    margin-bottom: 10px;
    @include em(14px);
    .wpcf7-form-control-wrap {
      margin-top: 5px;
      display: block;
      .flag-container {
        .country-list {
          li {
            color: $color-text !important;
          }
        }
      }
    }
    br {
      display: none;
      // &:last-child {
      //   height: 5px;
      // }
    }
  }

  input {
    width: 100%;
    min-height: 40px;
    // common
    @each $name in $types {
      // &.input-text {
      &[type="#{$name}"] {
        @include form-input-style(
          0 10px,
          solid 1px $color-gris-25,
          $color-text,
          $white,
          $font-light,
          5px,
          14px,
          $forms-line-height,
          400ms
        );
        @include box-shadow(none);
        width: 100%;
        outline: none;
        &:hover,
        &:active {
          outline: none;
          @include box-shadow(none);
          border: solid 1px $color-default;
        }
        &:focus {
          outline: none;
          @include box-shadow(0 0 20px 0 rgba($color-main, 0.15));
          border: solid 1px $color-main;
        }
      }
    }
  }

  textarea {
    @include padding(10px);
    @include em(12px);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    width: 100%;
    min-height: 80px;
    height: auto;
    resize: vertical;
    border: solid 1px $color-gris-25;
    border-radius: 5px;
    outline: none;
    color: $color-text;
    font-weight: $font-light;
    &:hover,
    &:active {
      outline: none;
      @include box-shadow(none);
      border: solid 1px $color-default;
    }
    &:focus {
      outline: none;
      @include box-shadow(0 0 20px 0 rgba($color-main, 0.15));
      border: solid 1px $color-main;
    }
  }

  &.checkout {
    .form-row {
      &:not([class*="form-row-"]) {
        clear: both;
      }

      label {
        position: relative;
        width: auto;
        display: inline-block;

        + span,
        + strong {
          display: block;
        }

        abbr.required {
          position: absolute;
          right: -12px;
          top: 30%;
        }
      }
    }
  }

  //btn
  .wpcf7-submit {
    min-width: 200px;
    margin: 0 auto 15px;
    width: 100%;
	@include fs(18px);
    @include main-button-style(19px 20px, 30px);
    @include set-new-button-style($color-primary, $white, $color-primary);
    @include set-new-button-hover(darken($color-primary, 5%), $white, darken($color-primary, 5%));
	@include font-family(1, bold, normal, null, condensed, -0.36px);
  }
}
// }
