/*
**  <header>
*/
#page {
    padding-top: 60px;
    @include media-breakpoint($media-xs + 1px) {
        padding-top: 80px;
    }
}

$logosize: 140px;
header {
    // Clase del header
    &.site-header {
		position: fixed;
        background-color: $color-base;
        top: 0;
        left: 0;
        width: 100%;
		box-shadow: 0 2px 3px 0 #0000000D;
	  	@include padding(14px);
		@include z-index(site-header);
        @include media-breakpoint($media-xs + 1px) {
            @include fs(15px); // font-size base -> 768
		  	@include padding(9px 0);
        }
		@include media-breakpoint(xs, 'max-width') {
		  @include padding(7px 0);
		}
    }

    // main class
    .site-header {
        // Wrap
        &-wrap {
            @include flexbox;
            @include justify-content(flex-start);
            @include align-items(center);
            > div {
                @include flex(0 0 auto);
                text-align: center;
            }
        }

        // toggle button wrap
        &-nav_toggle {
            margin-right: 10px;
            @include media-breakpoint(380px) {
                margin-right: 15px;
            }
            @include media-breakpoint($media-xs + 1px) {
                display: none;
            }
        }

        &-toggle-btn {
            display: block;
            position: relative;
            @include fs(15px);
            @include block-size(30px);
            text-align: center;
            color: $color-primary;

            .toggle {
                @include block-size(30px);
                @include transition($transition);
                @include transform-origin();
                line-height: 30px;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
				font-weight: bold;

                &_open {
                }

                &_close {
                    @include transform-scale-rotate(0, -360deg);
                }
            }
            &:hover, &:active, &:focus {
                color: $color-primary;
            }
            &.open {
                // bars
                .toggle_open {
                    @include transform-scale-rotate(0, -360deg);
                }

                // close
                .toggle_close {
                    @include transition-delay(200ms);
                    @include transform-scale-rotate(1, 0);
                }
            }
        }

        // logo
        &-logo {
            display: block;
            width: $logosize - 40px;
            @include media-breakpoint($media-xs) {
                padding-right: 20px;
                width: $logosize;
            }
            a {
                display: block;
            }

            img {
                @extend %max-width-none;
            }
        }

        // Menus
        &-menu-primary, &-menu-secondary {}

        &-menu-secondary {
            margin-left: auto;
        }
    }
}
