/*
**  <menu principal>
*/

/* estilo de los href principales */
._links {
  @include font-family(1);
  @include pulse-animation;
  @include transition(260ms, all, ease-in-out);
  @include padding(6px 10px);
  font-size: $font-size;
  font-weight: $font-regular;
  height: auto;
  line-height: normal;
  &:hover {
	color: $color-main;
	i[class] {
	  @include media-breakpoint(767px, max-width) {
		@include _do(pulse);
	  }
	}
  }

  &[aria-expanded="true"] {
	color: $color-main;
	@include text-shadow(0 0 5px 1px rgba($color-main, .7));
  }
}

#site-header-menu-container {
  position: fixed;
  width: 100%;
  background-color: $color-default;
  padding: 8px;
}

#header-top {
  background-color: $white;

  .container {
	padding: 5px 0;

	.open > .dropdown-toggle.btn-primary {
	  background-color: unset;
	  border: none;
	}

	.country-dropdown {
	  button {
		font-family: $font-primary;
		color: #5c5d5c;
		padding: 0 35px 0 0;
		border-radius: 0;
		text-align: left;
		border: none;

		img {
		  margin-left: 10px;
		}

		&:hover {
		  background-color: $white;
		  border: none;
		}
	  }

	  .dropdown-menu {
		border-radius: 0;
		margin: 7px 0 0;
		padding: 0;
	  }

	  .dropdown-menu > li > a {
		display: block;
		padding: 5px 10px;
		border-bottom: 1px solid #F4F4F4;
		color: #5C5D5C;
	  }
	}
  }
}

.header-top-show {
  top: 0;
  transition: top 2s linear 1s;
}

.header-top-hide {
  top: -55px;
  height: 0;
  padding: 0;
  transition: top 2s linear 1s;
}

#site-navigation {
  // reset content >
  .mega-sub-menu {
	@include reset-content;
	li {
	  display: block;
	}
  }

  // Indicador de submenu
  #mega-menu-wrap-primary {
	ul#mega-menu-primary.mega-menu {
	  li.mega-menu-item-has-children {
		a.mega-menu-link {
		  span.mega-indicator {
			&:after {
			  margin-top: 2px;
			}

			// hide mega indicator on desktop
			@include media-breakpoint(sm, 'min-width') {
			  display: none;
			}
		  }
		}
		&.mega-toggle-on, ._sub-menu-open {
		  .mega-indicator {
			&:after {
			  margin-top: 0 !important;
			  @include transform(rotateX(180deg) !important);
			}
		  }
		}
	  }
	}
  }

  // megamenu
  #mega-menu-wrap-primary {
	ul#mega-menu-primary {
	  font-size: $font-size;
	  // <li> primer nivel
	  > li.mega-menu-item.mega-toggle-on {
		a.mega-menu-link {
		  // border-radius: 15px;
		  border-bottom: 5px solid $color-primary;
		}
	  }

	  > li.mega-menu-item {
		font-size: inherit;
		@include padding(0);

		@include media-breakpoint($media-sm) {
		  @include padding(0 12px);
		}

		@include media-breakpoint(xs, 'max-width') {
		  border-bottom: 1px solid #ebebeb;
		}

		// El item del carrusel
		&.mega-item-productos {
		  display: none !important;
		  @include media-breakpoint($media-xs + 1px) {
			display: inline-block !important;
		  }
		}

		&._productos-mobile {
		  display: block;
		  > ul.mega-sub-menu {
			max-width: 350px;
			padding: 15px 0 0 15px !important;
			background-color: #fff;
			position: static;
			ul.mega-sub-menu {
			  padding: 0 !important;
			  .mega-menu-item {
				padding: 0 !important;
				margin-bottom: 10px;

				.col-xs-3 {
				  padding-right: 0;
				}
				.col-xs-9 {
				  padding-left: 0;
				}
				img {
				  border: none;
				  width: 40px;
				  height: 40px;
				  padding: 0;
				  margin-right: 10px;
				}
				p {
				  margin: 0;
				  padding-top: 10px;
				  color: #808285;
				  display: inline;
				}

				.product_categories_with_image {
				  figure {
					display: inline-block;
					width: 20%;
					height: 50px;
					overflow: hidden;
					border-radius: 5px;
					float: left;

					img {
					  width: 100%;
					  height: auto;
					  border-radius: 5px;
					  margin-right: 0;
					}
				  }
				  p {
					@include font-family(1, 300, normal, null, condensed, -0.36px);
					@include fs(18px);
					display: inline-block;
					width: 80%;
					float: left;
					text-align: left;
					padding-left: 25px;

					a {
					  color: $color-primary;
					}
				  }
				}
			  }
			}
		  }
		  @include media-breakpoint($media-xs + 1px) {
			display: none;
		  }

		  .mega-indicator {
			color: $color-primary;
		  }
		}

		// cuando tiene submenu
		&.mega-menu-item-has-children {
		  position: relative;
		}

		a.mega-menu-link {
		  height: 50px;
		  line-height: 50px;
		  // border-radius: 15px;
		  // @extend ._links;
		  // color: $white;
		  @include font-family(1, bold, normal, null, condensed, -0.36px);

		  @include media-breakpoint(xs) {
			font-size: 18px;
		  }

		  &:hover {
			border-radius: 0;
			border-bottom: 5px solid $color-primary;

			@include media-breakpoint(small, 'max-width') {
			  border-bottom: 0;
			}
		  }
		}

		// flecha
		// > ul.mega-sub-menu {
		//     background-color: transparent;
		// }

		ul.mega-sub-menu {
		  li {
			a {
			  display: block;
			  width: 100%;
			  text-transform: none;
			  color: $black;
			}
			img {
			  @extend %max-width-none;
			}
		  }
		}

		// submenu
		> ul.mega-sub-menu {
		  @include padding(0);
		  .ul.mega-sub-menu {
			width: 100%;
		  }
		}
	  }
	}

	// Slider
	.main-carousel-wrapper {
	  @include clearfix;
	  clear: both;

	  .wc-product-categories {
		display: block !important;
	  }

	  li {
		&.mega-menu-item {
		  float: left !important;
		  //@include transition(1s, all, ease-in-out, !important);
		  padding: 0 5px;
		  position: relative;
		  border-left: none;
		  @include first-child {
			border-left: none;
		  }

		  .textwidget, .product_categories_with_image {
			padding: 0;
			background-color: #F5F5F5;
			height: 100%;
			border-radius: 5px;
			// max-height: 140px;

			figure {
			  max-height: 145px;
			  overflow: hidden;
			  border-radius: 5px;

			  img {
				border-radius: 5px;
			  }
			}

			a {
			  text-align: center;
			  img {
				max-width: 250px !important;
				margin-bottom: 10px;
			  }
			}

			p {
			  //padding: 10px 0;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  height: 80px;
			  width: 100%;
			  a {
				@include font-family(1, bold, normal, null, condensed, -0.4px);
				color: $black;
				font-weight: bold;
				line-height: normal;
				font-size: 20px;
			  }
			}
		  }
		}
	  }
	  .lSAction {
		a {
		  background-image: none;
		  background-color: $color-main;
		  @include block-size(28px, 28px, !important);
		  opacity: 1;
		}
	  }
	  .lSSlideOuter {
		/*
		.lSPager  {
			li {
				display: inline-block;
				padding: 0 5px;
				background: $white;
				margin: 0 5px;
				@include reset-content;
				a {
					display:  inline-block !important;
					color: $color-default;
					width: auto !important;
					height: auto !important;
					font-size: 14px;
					margin: 0;
					padding: 0;
				}
			}
		}
		*/
	  }
	}
  }

  %padding_0 { padding: 0; }

  #mega-menu-wrap-primary {
	#mega-menu-primary{
	  > li.mega-menu-item {
		&.mega-item-productos {
		  > ul.mega-sub-menu {
			$_lr: 6; // pixeles a ambos lados
			// @include transition(300ms, all, ease-in-out, !important);
			@include box-shadow(0px 3px 6px #00000029);
			@include border-radius(0 0 3px 3px);
			// @include transform-translate-x(-50%);
			@include padding(30px (40px + ($_lr + $_lr)));
			background-color: $white;
			position: fixed;
			// left: 50% !important;
			width: 100% !important;
			max-width: 1200px;
			top: 70px;

			ul[class] {
			  @include clearfix;
			  padding: 0;
			  height: 100%;

			  &.lightSlider  {
				height: 220px; // Hight of menu "light-slider" slider
				@include flexbox;
			  }

			  &.lSPager {
			  }
			}
			li {
			  @include clearfix;

			  // flechas de navegacion <>
			  &.mega-navs {
				ul, li {
				  @extend %padding_0;
				}
				li {
				  &.mega-menu-item {
					@extend %padding_0;
				  }
				}
			  }
			  // Flechas de navegacion <>
			  &.mega-navs.mega-menu-row {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				overflow: visible;
				width: 100%;
				left: 0;
				ul[class] {
				  &, li[class], .textwidget {
					position: static;
				  }
				}
				ul {
				  li {

				  }
				}
				.menu_categories_nav {
				  ._button-nav {
					@include transition($transition);
					@include transform-translate-y(-50%);
					@include block-size(80px, 180px);
					@include border-radius(0);
					border: none;
					color: $white;
					position: absolute;
					top: 50%;
					background-color: $white;
					min-height: 150px;
					&:hover {
					  background-color: $color-main;
					}

					&.btn {
					  // <- Prev
					  &-prev {
						left: 0;
					  }
					  &-next {
						right: 0;
					  }
					}
				  }
				}
			  }
			}

			.mega-block-title {
			  @include fs(15px);
			  color: $color-text;
			}
		  }

		  > ul.mega-sub-menu {
			margin-top: 20px;
		  }
		}

		&.mega-toggle-on {
		  > ul.mega-sub-menu {
			margin: 0 auto;
			padding: 20px;
			left: 0;
			right: 0;
		  }
		}
	  }

	  .mega-menu-categories {
		.mega-sub-menu {
		  .mega-menu-columns-1-of-12 {
			width: 11%;
		  }
		}
	  }
	  .mega-navs {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		overflow: visible;
		width: 100%;
		left: 0;

		._button-nav {
		  /* -webkit-transition: all 200ms ease;
		   -moz-transition: all 200ms ease;
		   -o-transition: all 200ms ease;
		   -ms-transition: all 200ms ease;
		   transition: all 200ms ease;
		   -moz-transform: translateY(-50%);
		   -webkit-transform: translateY(-50%);
		   -o-transform: translateY(-50%);
		   -ms-transform: translateY(-50%);
		   transform: translateY(-50%);*/
		  width: 80px;
		  height: 185px;
		  -webkit-border-radius: 500px;
		  -moz-border-radius: 500px;
		  border-radius: 0;
		  border: 0;
		  color: #fff;
		  position: absolute;
		  top: 50%;
		  background-color: #f1f1f1;

		  i {
			font-size: 25px;
			color: lighten($white, 40%);
			background-color: lighten($color-primary, 40%);
			padding: 10px 15px;
			border-radius: 15px;
			&:hover {
			  color: $white;
			  background-color: $color-primary;
			}
		  }
		}

		._button-nav.btn-prev {
		  left: 0;
		}
		._button-nav.btn-next {
		  right: 0;
		}

		.widget_custom_html {
		  padding: 0;
		}
	  }
	}
  }
}

// Selector del UL del slider
#mega-menu-wrap-primary, #mega-menu-wrap-primary #mega-menu-primary, #mega-menu-wrap-primary #mega-menu-primary ul.mega-sub-menu, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-row, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-column, #mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link {
  @include transition(null, null, null, inherit);
}

/**
 ** == MENU RESPONSIVBO
 **/
$header_size: 60px;

// Menu responsivo
@include media-breakpoint($media-xs, max-width) {
  header {
	.site-header {
	  // menu secondary
	  &-menu-secondary {

	  }
	}
  }
  #page {
	// reset content >
	.mega-sub-menu {
	  @include reset-content;
	  li {
		&:marker {
		  content: none !important;
		  display: none !important;
		  visibility: hidden !important;
		  opacity: 0 !important;
		}
	  }
	}

	.site-header-menu-primary {
	  position: fixed;
	  width: 100%;
	  left: 0%;
	  // bottom: 0;
	  // @include calc(height, 100vh, $header_size);
	  height: auto;
	  @include z-index(site-header-menu-primary);
	  opacity: 1;
	  visibility: hidden;

	  #site-navigation, .mega-menu-wrap {
		height: 100%;
	  }

	  // NAV
	  nav#site-navigation {
		overflow-y: auto;
		@include transition(none);
		@include z-index(site-navigation);
		left: -100%;
		position: relative;
		width: 100%;
		background-color: $white;
		#mega-menu-wrap-primary {
		  ul#mega-menu-primary {
			@include list-unstyled;
			@include transition(none);
			padding: 30px 0;
			opacity: 1;
			visibility: visible;

			@include media-breakpoint(small, 'max-width') {
			  padding: 0;
			}
			> li {
			  @include block-size(100%, auto);
			  >  a {
				&.mega-menu-link {
				  @include flexbox;
				  @include justify-content(space-between);
				  @include fs(17px);
				  color: $black;
				  padding: 12px;
				  line-height: initial;
				  height: auto;
				}

				// submenu
				ul.mega-sub-menu {
				  li {

				  }
				}
			  }
			}
			ul.mega-sub-menu {
			  @include clearfix;
			  color: $color-text;
			  padding: {
				left: 5px;
				top: 5px;
				bottom: 0;
				right: 0;
			  }
			}

			// Categorias
			ul.wc-product-categories {
			  display: none;
			  padding: 15px;
			  li {
				a {
				  color: $color-main;
				  @include fs(14px);
				}
			  }
			}
			li.wc_baum_widget {
			  padding: 0 10px 5px 15px;
			  margin-bottom: 10px;
			  h4.mega-block-title {
				@include flexbox;
				width: 100%;
				@include fs(15px);
				cursor: pointer;
				color: $color-text;
				position: relative;
				@include af {
				  @include fs(12px);
				  color: $color-main;
				  margin-left: auto;
				  content: "\f132";
				  font-family: dashicons;
				  font-weight: normal;
				  display: inline-block;
				  -webkit-font-smoothing: antialiased;
				  -moz-osx-font-smoothing: grayscale;
				  transform: rotate(0);
				  position: relative;
				  background:transparent;
				  height: auto;
				  width: auto;
				  right: auto;
				  line-height: inherit;
				}

				&._sub-menu-open {
				  @include af {
					content: "\f460";
				  }
				}
			  }
			  h4 + wc-product-categories {

			  }
			}
		  }
		}
	  }

	  .nav-overlay {
		@include transition(600ms);
		@include z-index(nav-overlay);
		@include overlay(0, absolute, 100%, 100%, rgba($color-base, .7));
		visibility: hidden;
	  }

	  // Cuando se abre
	  &.nav-open {
		background-color: #F8F8F8;
		top: 60px;
		visibility: visible;
		#site-navigation {
		  #mega-menu-wrap-primary {
			background-color: #F8F8F8;
			ul#mega-menu-primary {
			  opacity: 1;
			  visibility: visible;
			}
		  }
		}
		.nav-overlay {
		  opacity: 1;
		  visibility: visible;
		}
	  }
	}
  }
}
