

/*
* COLOR a definir el fondo
*/
$thiscolor: color-gris(10);

.cuenta-wrapper {

    > div {
        position: relative;
        a.toggle-account {

            @media screen and (max-width: 768px) {
                @include padding(0);
                text-align: center;
                position: relative;
            }

            span {
                margin-right: 5px;
            }
            i ~ i {
                margin-left: 4px;
            }

            i {
                &.fa-angle-down {
                    @include transition(200ms);
                    display: inline-block;
                    // css3
                    -webkit-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    -webkit-backface-visibility: visible;
                    backface-visibility: visible;

                    // cuando es mobile el icono de la flecha se esconde
                    @media screen and (max-width: ($media-xs + 1px)) {
                        display: none;
                    }
                }   

                &.fa-user {
                    @media screen and (max-width: ($media-xs + 1px)) {
                        margin: 0;
                    }
                }
            }

            &.open {
                color: $color-default;

                i {
                    color: $color-main;
                }

                i.fa-angle-down {
                    -moz-transform:    rotateX(180deg);
                    -webkit-transform: rotateX(180deg);
                    -o-transform:      rotateX(180deg);
                    -ms-transform:     rotateX(180deg);
                    transform:         rotateX(180deg);
                }
            }
        }


        // div
        div.menu-edit-account {
            @include padding(0);
            background: $thiscolor;
            width: 200px;
            right: 0;
            margin-top: 10px;
            position: absolute;
            z-index: 10;

            @media screen and (max-width: ($media-xs + 1px)) {
                left: auto;
                width: 180px;
                right:0;
                margin-top: 8px;
            }

            &:before {
                @include font-awesome('\f0d8');
                @include transform-translate(-50%, 0);
                @include em(20px);
                color: $thiscolor;
                right: 30px;
                top: -15px;
                position: absolute;
            }
            @media screen and (max-width: ($media-xs + 1px)) {
                &:before {
                    right: 10px;
                }
            }

            nav {
                @include block;
                @media screen and (max-width: ($media-xs + 1px)) {
                    padding-top: 10px;
                }
                ul {
                    @include padding(0);
                    text-align: right;
                    li {
                        @include margin(0);
                        @include border-radius(0);
                        @include block;
                        @include padding(0);
                        overflow: hidden;

                        &:first-child {
                            @include border-radius(4px 4px 0 0);
                        }
                        &:last-child {
                            @include border-radius(0 0 4px 4px);
                        }

                        a {
                            @include padding(0 15px);
                            @include em(($font-size - 2px));
                            font-weight: $font-regular;
                            color: $color-text;
                            line-height: 34px;

                            &:after {
                                content: none;
                            } 

                            &:hover, &:active, &:focus {
                                background: $color-main;
                                color: $white;
                            }

                            @media screen and (max-width: ($media-xs + 1px)) {
                                @include block;
                                @include em(12px);
                                border: none;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}