/*
**
**
**
**
**
**
**  <Menu secundario>
*/
// NAV del menu secundario = RESET
.menu-secundario {
    ul {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
        margin: 0;
        li {
            @include reset-content;
            @include padding(0);
            width: auto;
            margin-left: 2px;
            @include first-child {
                margin-left: 0;
            }
            @include media-breakpoint(380px, max-width) {
                @include transform-scale(0.85);
            }
            @include media-breakpoint(380px) {
                margin-left: 20px;
            }
            @include media-breakpoint($media-sm) {
                margin-left: 10px;
            }
            @include media-breakpoint($media-xs - 1px, max-width) {
                // @include block-size(40px);
                // min-width: 40px;
            }

            a[class] {
                @extend ._links;
                color: $white;

                @include media-breakpoint(xs) {
                    font-size: 15px;
                }

                span {
                    &:not(.text-shopping-cart) {
                        display: none;
                        @include media-breakpoint($media-sm) {
                            display: inline-block;
                        }
                    }
                }

                i[class] {
                    display: inline-block;
                    @include pulse-animation;
                    @extend %transition;
                    @include border-radius(25px);
                    @include block-size(50px);
                    color: $white;
                    background-color: $color-blue;
                    text-align: center;
                    line-height: 50px;

					@include media-breakpoint(xs, 'max-width') {
					  @include block-size(46px);
					  line-height: 46px;
					}
                }

                &:hover, &:active, &:focus {
                    i[class] {
                        -webkit-animation: none !important;
                        animation: none !important;
                    }
                }

                &:hover, &:active, &:focus {
                    background: none;
                }
            }

            /* Item del carrito */
            &.cart-wrapper {
                a {
                    position: relative;
                }

            }
            .text-shopping-cart {
                top: -4px;
                left: 32px;
                @include small_qty;
            }


            /* Contáctenos */
            &.menu-item-contacto {
				width: auto !important;
				height: auto !important;

                a[class] {
                    border: none;

					@include media-breakpoint(xs, 'max-width') {
					  @include font-family(1, bold, normal, null, condensed, -0.36px);
					  @include border-radius(25px);
					  @include padding(13px 30px);
					  @include fs(18px);
					  text-align: center;
					  min-width: 40px;
					}

                    @include media-breakpoint($media-sm) {
					  	@include font-family(1, bold, normal, null, condensed, -0.36px);
					   	@include fs(18px);
                        padding: 15px 45px !important;
                        width: 170px;
                        height: auto;
                    }

                    i.fas {
						display: none;
                    }

                    &:hover, &:active, &:focus {
                        color: $white;
                        background: darken($color-main, 8%);
                        border-color:  darken($color-main, 8%);
                    }

					span {
					  display: block;
					}
                }
            }

			&.menu-item-donde-comprar {
			  width: auto !important;
			  height: auto !important;

			  a[class] {
				min-width: 140px;
				border: none;

				@include media-breakpoint(xs, 'max-width') {
				  @include font-family(1, bold, normal, null, condensed, -0.36px);
				  @include border-radius(25px);
				  @include padding(13px 20px);
				  @include fs(18px);
				  text-align: center;
				  min-width: 40px;
				}

				@include media-breakpoint($media-sm) {
				  @include font-family(1, bold, normal, null, condensed, -0.36px);
				  @include fs(18px);
				  padding: 15px !important;
				  width: 170px;
				  height: auto;
				}

				i.fas {
				  display: none;
				}

				&:hover, &:active, &:focus {
				  color: $white;
				  background: darken($color-main, 8%);
				  border-color:  darken($color-main, 8%);
				}

				span {
				  display: block;
				}
			  }
			}

			/**
			* Botón de Busqueda
			*/
			&.menu-item-buscador {
			  .search-button {
				@include media-breakpoint(xs, 'max-width') {
				  padding: 0;
				}

				i {
				  &:before {
					font-size: 23px;
					font-weight: bold;
				  }
				}
			  }
			}
        }
    }
}


