.xoo-qv-opac {
  z-index: 3;
  background: rgba($white, 0.75);
}

// Iconos de Navegacion
.xoo-qv {
  /*
	&-nxt, &-prev {
		@include font-awesome;
		@include em(40px);
		color: $color-main;
		opacity: .65;
		&:hover, &:active, &:focus {
			opacity: 1;
		}
	}
	&-prev {
		&:before {
			@include font-awesome-icon('\f104');
		}
	}
	&-nxt {
		&:before {
			@include font-awesome-icon('\f105');
		}
	}

	@media screen and (max-width: $media-xs) {
		&-nxt, &-prev {
			color: $white;
			background: $color-main;
			width: 50%;
			opacity: 1;
			display: block;
			top: auto;
			bottom: 0;
			transform: none;
			text-align: center;
		}
		&-prev {
			left: 0;
		}
		&-nxt {
			right: 0;
		}
	}
	*/
}
// Iconos de Navegacion
.xoo-qv {
  &-nxt,
  &-prev {
    display: none;
  }
}

// Cerrar
.xoo-qv-top-panel {
  @include transition;
  bottom: 0;
  top: 0;

  &.loading {
    background: rgba($white, 0.75);
    z-index: 6;
  }

  .xoo-qv-preloader {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 100%;
  }
}

// Contenedor principal
.xoo-qv-container {
  @include border-radius(4px);
  @include transition(400ms);
  @include padding(15px 0);
  @include box-shadow(0 0 30px 0 rgba(0, 0, 0, 0.4));
  text-align: left;
  display: block;
  background: $white;
  max-width: 1024px;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  border: none;
  //overflow: scroll;

  // < 768
  @media screen and (max-width: ($media-xs + 1px)) {
    @include calc(width, 100%, 50px);
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    right: auto;
    top: 7%;
  }
}

// Principal
.xoo-qv-main {
  background: none;
  @include padding(40px 15px);
  @media (max-width: 599px) {
    @include padding(30px 5px);
  }
  #{$producto} {
    @include media-breakpoint(650px) {
      @include flexbox;
    }

    // ambos divs
    > div {
      clear: both;
      float: none;
      width: 100%;

      &.xoo-qv-images {
        padding-right: 15px;
      }

      &.xoo-qv-images,
      &.xoo-qv-summary {
        @include media-breakpoint(650px) {
          max-width: 50%;
        }

        @include media-breakpoint(650px, max-width) {
          @include padding(0 10px);
        }
      }

      &.xoo-qv-images {
        margin-bottom: 30px;

        .images {
          opacity: 1;
          .wpis-slider-for {
            .slick-slide {
              clear: none;
              margin: auto;

              @include media-breakpoint(480px) {
                min-height: 200px !important;
              }

              .parent-image-container {
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                background-color: $light;
              }
            }
          }
        }
      }
    }

    // hide
    a.wpis-popup {
      display: none !important;
    }

    @at-root #{$woocommerce} {
      .xoo-qv-main div.product-sharing {
        @include padding(0);
      }
    }

    div.pdf-wrapper {
      margin-bottom: 15px;
      float: none;

      a {
        line-height: $line-height;
      }
    }

    div.xoo-qv-plink {
      background: none;
      display: block;
      //text-align: center;
      margin-top: 25px;
      @include fs(14px);

      a {
        color: $color-main;

        &:hover {
          color: $color-text;
        }

        i {
          margin-left: 6px;
        }
      }
    }

    div.pdf-wrapper {
      @include media-breakpoint(560px) {
        float: left;
      }
    }
  }
}

.xoo-cp-modal .xoo-cp-container {
	padding: {
	  bottom: 40px;
	  top: 40px;
	}

	div.xoo-cp-btns {
	  @include flexbox;
	  @include justify-content(center);
	  @include align-items(center);
	  @include flex-direction(column);
	  @include media-breakpoint(580px) {
	    @include flex-direction(row);
	  }

	  a.xcp-btn {
	    color: $white;
	    margin: 0 5px;
	    max-width: none;
	    text-transform: none;
	    width: 100%;
	    @include order(2);
	    @include flex(0 0 auto);
	    @include media-breakpoint(560px) {
	      @include calc(max-width, 50%, 10px);
	    }
	    &.xoo-cp-btn {
	    }
	    &.xoo-cp-close {
	      @include order(1);
	      @include set-new-button-style($color-text, $white);
	      @include set-new-button-hover($color-main, $white);
	    }
	  }
	}

	.wbt-custom-product {
	  border: 1px solid #e5e5e5;
	  @include padding(15px);
	  @include border-radius(3px);

	  .variations {
	    .label {
	      color: #999999;
	      font-weight: $font-regular;
	      margin-bottom: 0;

	      label {
	      	color: $color-main !important;
	      	position: relative;
	      	width: 100% !important;
	      	font: {
	      		family: $font-secondary;
	      		size: 18px !important;
	      	}

	        [class*="check"] {
	        	color: #44a42d;
	        	position: absolute;
	        	right: 0;
	        	top: 5px;
	        }
	      }

	      [class*="description"] {
	        p {
	          line-height: 1.6;
	          margin-bottom: 0;
	        }
	      }
	    }

	    .woobt-description {
	    	margin-bottom: 4px;
	    	white-space: normal;
	    }
	  }
	}

	.added-to-cart-message {
	  margin: {
	    bottom: 5px;
	    top: 20px;
	  }
	  border-top: 1px solid #f4f4f4;
	  @include padding(10px 10px 5px);

	  p {
	    color: $black;
	    margin-bottom: 0;
	    text-align: center;
	    @include fs(20px);
	    @include font-family(2);
	  }
	}
}

/**
** Added to cart popup response
**/
[class*="container"] {
  // Close icons for Quick view & Added to cart
  .xoo-qv-close,
  span.xoo-cp-close {
    border: 1px solid #f6f6f6;
    bottom: auto;
    color: #b2b2b2;
    height: 25px;
    top: 15px;
    width: 25px;
    z-index: 1;
    @include transition;
    @include font-awesome;
    @include size(14px);
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(25px);

    &:before {
      @include font-awesome-icon("\f00d");
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #f6f6f6;
      color: $color-danger;
    }
  }

  .xoo-qv-close {
    right: 20px;

    @media screen and (max-width: $media-xs) {
      right: 10px;
    }
  }

  span.xoo-cp-close {
    right: 5px;
  }

  .xoo-cp {
    &-atcn {
      background: #f4f4f4;
      text-align: center;
    }

    &-success {
      color: $color-text;

      [class*="icon"] {
        color: #44a42d;
      }
    }

    &-error {
      color: $color-danger;

      [class*="icon"] {
        color: $color-danger;
      }
    }
  }
}

/* === GALERIA EN QUICKVIEW === */

// Overlay del zoom de las fotos en QuickView
div.pp_overlay {
}

.pp_woocommerce {
  .pp_content_container {
    .pp_gallery {
      display: block !important;
    }
    .pp_next,
    .pp_previous {
      &:before {
        display: block !important;
      }
    }
  }
}

/* == Loading == */
