// redes sociales
.footer-right-sociales {
  @include flexbox;
  @include padding(0);
  margin-bottom: 20px;

  > a {
    @include float;
    margin-left: 5px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: $color-blue;
    border-radius: 100%;
    @include transition(260ms, all, ease-in-out);
    &:first-child {
      margin-left: 0;
    }
    @include pulse(pulse-waze, $color-primary);
    &:hover,
    &:active {
      @include _do(pulse-waze);
    }

    i.fa {
      @include size(18px);
      line-height: 30px;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      color: $white;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: lighten($color-blue, 8%);
      color: $white;
    }
  }

  // Link del email
  > a[class*="telefono"],
  > a[href*="mailto"] {
    font-size: 14px;
    font-weight: $font-regular;
    line-height: 30px;
    color: $color-main;
    width: auto;
    color: $color-main;
    background-color: transparent;
    border-radius: transparent;
    @media screen and (max-width: 480px) {
      // float: left;
      margin-left: 10px;
    }
    &:hover,
    &:active,
    &:focus {
      color: lighten($color-main, 8%);
      text-decoration: underline;
    }
  }
  // icono de waze/map
  .contacto_waze,
  .contacto_maps {
    background-color: $waze;
  }
  ._social-waze,
  ._social-maps {
    display: block;
    width: 30px;
    height: 30px;
    @include background-options(
      center,
      /* size -> */ 26px,
      no-repeat,
      null,
      null
    );
  }

  // media al <a href>
  @media screen and (max-width: $media-sm) {
    margin-bottom: 15px;
    text-align: center;

    > a[href] {
      float: none;
      display: inline-block;
    }
  }
}
