// .social-buttons,
// .product-sharing
@mixin social_share_icons() {
    @include flexbox;
    @include align-items(center);
    margin-left: 0;

    > span {
        min-width: 100px;
        padding-right: 15px;
        text-align: left;
    }

    ul {
        margin-bottom: 0 !important;
        @include flexbox;
        @include align-items(center);
    }

    a {
        display: block;
        text-decoration: none;
        @include opacity(.8);

        &:hover {
            @include opacity(1);
        }
    }

    i {
        font-size: 20px;
        line-height: 1 !important;
        padding: 0 6px;
        color: $color-main;

        &[class*="facebook"] {
            color: $facebook;
        }

        &[class*="twitter"] {
            color: $twitter;
        }

        &[class*="whatsapp"] {
            color: $whatsapp;
        }

        &[class*="phone"] {
            color: $color-main;
        }

        &[class*="email"] {
            color: $color-main;
        }

        &[class*="pinterest"] {
            color: #cc2329;
        }
    }
}

div.product-sharing,
div.social-buttons,
div.single-sharing {
    @include social_share_icons;
}

.social-buttons {
    @media screen and (min-width: 1025px) {
        float: right;
    }

    @media screen and (max-width: 1024px) {
        @include justify-content(center);
    }

    ul {
        li {
            @at-root .tinv-wishlist #{&} {
                margin: auto;
            }

            a {
                height: auto !important;
                width: auto !important;
            }
        }
    }
}

div.single-sharing {
  height: 42px;
  @include media-breakpoint($media-sm) {
	//padding-left: 20px;
	@include justify-content(flex-start);
  }
  @include media-breakpoint($media-sm - 1px, max-width) {
	width: 100%;
  }
  @media (max-width: 599px) {
	display: block;
	text-align: left;
	vertical-align: top;
  }

  .single-sharing-title {
	font-weight: $font-light;
	color: $color-text;
	padding-right: 0;
	width: 72px;
	min-width: 0;
	@media (max-width: 599px) {
	  width: auto;
	  margin-right: 5px;
	  display: inline-flex;
	}
  }

  ul {
	@media (max-width: 599px) {
	  width: auto;
	  margin-right: 5px;
	  display: inline-flex;
	}

	li {
	  display: block;

	  &.single-share-option {
		margin-right: 5px;

		a {
		  @include transition;
		  @include block-size(30px);
		  @include display-flex;
		  color: #BFBFBF;

		  i[class] {
			@include transition;
			color: inherit;
		  }

		  &:hover,
		  &:active,
		  &:focus {
			color: $color-text;
		  }
		}
	  }
	}
  }
}
