@mixin city_phone_fields() {
    &:before {
        @include font-awesome;
        display: inline-block;
        margin-right: 5px;
        color: $color-main
    }

    &.city {
        line-height: normal;
        &:before {
            @include font-awesome-icon('\f3c5');
        }
    }

    &.phone {
        color: $color-main;
        &:before {
            @include font-awesome-icon('\f095');
        }
    }   
}

/* Widget */
.widget_store-content {
    .image-container {
        @include block;
        margin: {
            bottom: 10px;
        }
        padding: {
            bottom: 1px
        }
    }

    p {
        @include city_phone_fields;
        position: relative;
        
        &.store-title {
            @include em(18px);
            font-weight: $font-medium;
            line-height: 1.3;
            margin-bottom: 5px;
            color: $color-main;
        }
    }
}