/*
* === font awesome
* @param1 = icon value. Default: null
* @param2 = display. Default: null
*/
@mixin font-awesome($icon: null, $w: 600) {
    font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands" !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: $w;
    line-height: 1;
    @if $icon != null {
        content: fa-content($icon) ;    
    }
}
/* 
* === change awesome icon value if needed ===
*/
@mixin font-awesome-icon($icon: null) {
    content: fa-content($icon) ; 
}