/*
* Generated in https://transfonter.org/
 */
@font-face {
	font-family: 'InterstateLight';
	src: url('InterstateLight.woff2') format('woff2'),
	url('InterstateLight.woff') format('woff'),
	url('InterstateLight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-RegularItalic.woff2') format('woff2'),
	url('Interstate-RegularItalic.woff') format('woff'),
	url('Interstate-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-RegularComp.woff2') format('woff2'),
	url('Interstate-RegularComp.woff') format('woff'),
	url('Interstate-RegularComp.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-UltraBlackComp.woff2') format('woff2'),
	url('Interstate-UltraBlackComp.woff') format('woff'),
	url('Interstate-UltraBlackComp.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-LightCond.woff2') format('woff2'),
	url('Interstate-LightCond.woff') format('woff'),
	url('Interstate-LightCond.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-BoldCond.woff2') format('woff2'),
	url('Interstate-BoldCond.woff') format('woff'),
	url('Interstate-BoldCond.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-ExtraLightItalic.woff2') format('woff2'),
	url('Interstate-ExtraLightItalic.woff') format('woff'),
	url('Interstate-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-LightItalic.woff2') format('woff2'),
	url('Interstate-LightItalic.woff') format('woff'),
	url('Interstate-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-Bold.woff2') format('woff2'),
	url('Interstate-Bold.woff') format('woff'),
	url('Interstate-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-ThinItalic.woff2') format('woff2'),
	url('Interstate-ThinItalic.woff') format('woff'),
	url('Interstate-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-BlackComp.woff2') format('woff2'),
	url('Interstate-BlackComp.woff') format('woff'),
	url('Interstate-BlackComp.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Interstate';
	src: url('Interstate-BlackCond.woff2') format('woff2'),
	url('Interstate-BlackCond.woff') format('woff'),
	url('Interstate-BlackCond.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-stretch: condensed;
}
