body.home {
  .button {
    @include button-main;
    @include main-button-style;
  }
  h1,
  h2 {
    @media (min-width: 991px) {
      font-size: 40px;
    }
  }
  .section-valores {
    .title-line {
      h2 {
        margin-bottom: 50px !important;
        &:after {
          bottom: -25px !important;
        }
      }
    }

    p {
      strong {
        color: $color-main;
      }
    }
    .wpb_wrapper p strong {
      display: block;
      padding: 15px 0 0 0;
    }
    .vc_col-xs-9 .wpb_wrapper p strong {
      display: block;
      padding: 5px 0 0 0;
    }
  }
}

/**
 * Custom code for homepage project based on desight. Delete for init other projects!.
 */
#home-about {
  margin-top: 100px;

  h1 {
	@include font-family(1, bold, normal, null, condensed, -2px);
	color: $color-blue;
  }
}

#view-more-info a {
  @include font-family(1, bold, normal, null, condensed, -0.36px, null);
  @include fs(18px);
  padding: 14px 47px;
}

#home-video {
  margin-bottom: 100px;

  @include media-breakpoint(xs, 'max-width') {
	margin-bottom: 50px;
  }
}

#home-newsletter {
  background-image: url('#{$img-path}/theme/bg-azul.png');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;

  @include media-breakpoint(xs, 'max-width') {
	background-image: url('#{$img-path}/theme/bg-azul-movil.png');
	padding-top: 45px;

	.wpb_text_column {
	  margin-bottom: 20px;
	}
  }

  h2 {
	@include font-family(1, bold, normal, null, condensed, -2.75px, null);
	@include fs(55px);
	margin-bottom: 0;

	@include media-breakpoint(xs, 'max-width') {
	  @include font-family(1, bold, normal, null, condensed, -1.5px, null);
	  @include fs(30px);
	  text-align: center;
	}
  }

  h3 {
	@include font-family(1, 300, normal, null, condensed, -2px, null);
	@include fs(40px);
	color: $white;

	@include media-breakpoint(xs, 'max-width') {
	  @include font-family(1, 300, normal, null, condensed, -1px, null);
	  @include fs(20px);
	  text-align: center;
	}
  }

  .wpcf7-form {
	strong {
	  @include font-family(1, bold, normal, null, condensed, -0.36px, null);
	  @include fs(18px);
	  color: $white;
	}

	@include media-breakpoint(xs, 'max-width') {
	  .client-col {
		margin-bottom: 50px !important;
	  }

	  .acceptance-col {
		margin-bottom: 15px;
	  }
	}

	.row .col-md-12 {
	  margin-bottom: 10px;

	  .form-group {
		margin-bottom: 0;
	  }

	  .row .col-md-5 {
		padding-right: 0;

		@include media-breakpoint(xs, 'max-width') {
		  padding: 0 15px;
		}
	  }

	  .row .col-xs-6 {
		@include media-breakpoint(xs, 'max-width') {
		  &:first-child {
			padding-right: 2px;
		  }
		  &:nth-child(2) {
			padding-left: 2px;
		  }
		}
	  }
	}

	input[type="text"], input[type="email"] {
	  @include font-family(1, 300, normal, null, condensed, -0.32px, null);
	  @include fs(16px);
	  border-radius: 25px;
	  border: 1px solid #E5E5E5;
	  line-height: 48px;

	  @include media-breakpoint(xs, 'max-width') {
		@include fs(14px);
		letter-spacing: -0.28;
	  }
	}

	.wpcf7-radio {
	  .wpcf7-list-item {
		float: left;
		&.last {
		  margin-left: 40px;
		}

		input[type='radio'] {
		  width: 20px;
		  height: 20px;
		  margin-top: 0;
		}

		.wpcf7-list-item-label {
		  &:after {
			top: -8px;
		  }
		}
	  }
	}

	button[type="submit"] {
	  @include font-family(1, bold, normal, null, condensed, -0.36px, null);
	  @include padding( 9px 35px);
	  @include fs(18px);
	  color: $white;
	  border-radius: 25px;
	  background-color: $color-primary;
	  border: 1px solid $color-primary;
	  width: 100%;

	  &:hover {
		background-color: darken($color-primary, 8%);
	  }

	  @include media-breakpoint(xs, 'max-width') {
		width: 100%;
	  }
	}

	.wpcf7-acceptance {
	  .wpcf7-list-item {
		margin-top: 12px;
	  }

	  input {
		margin: 0;
		width: 18px;
		height: 18px;
		min-height: 18px;
		left: -5px;
		position: absolute;
	  }
	}

	.wpcf7-not-valid-tip {
	  color: $red;
	}

	input.wpcf7-not-valid {
	  border: 1px solid $red;
	}

	.wpcf7-response-output {
	  background-color: $white;
	  border-color: $color-primary;
	}

	span.is-active {
	  background-color: $color-primary;
	}
  }
}

#home-slider-products {
  margin-top: 50px;

  h2 {
	@include font-family(1, bold, normal, null, condensed, -2px, null);
	@include fs(40px);
	color: $color-blue;
  }
}

#home-categories {
  background-color: $color-primary;
  padding: 50px 0;

  h2 {
	@include font-family(1, bold, normal, null, condensed, -2px, null);
	@include fs(40px);
	color: $white;
  }
}

#home-tips {
  margin-top: 50px;
  background-color: #FBFBFB;

  .home-tips-text-col {
	padding: 7% 50px 50px 50px;

	@include media-breakpoint(xs, 'max-width') {
	  text-align: center;
	  padding: 5% 30px 30px 30px;
	}

	h3 {
	  @include font-family(1, bold, normal, null, condensed, -2px, null);
	  @include fs(40px);
	  color: $color-blue;
	}

	p {
	  @include font-family(1, 300, normal, null, condensed, 0px, null);
	  @include fs(18px);
	  color: #707070;
	}

	.btn {
	  @include font-family(1, bold, normal, null, condensed, -0.32px, null);
	  @include padding(13px 40px);
	  @include fs(16px);
	  margin-top: 30px;
	}
  }
}

#home-contact {
  background: transparent linear-gradient(180deg, #2E497B 0%, #172C54 100%) 0% 0% no-repeat padding-box;
  @include padding(55px 0);

  @include media-breakpoint(xs, 'max-width') {
	@include padding(47px 0 37px);
  }

  h3 {
	@include font-family(1, bold, normal, null, condensed, -2px, null);
	@include fs(40px);
	color: $white;
  }

  .button-contact a {
	@include font-family(1, bold, normal, null, condensed, -0.32px, null);
	@include fs(16px);
	@include padding(15px 58px);
	border-radius: 25px;
	color: $white;

	@include media-breakpoint(xs, 'max-width') {
	  @include fs(18px);
	  @include padding(14px 54px);
	}
  }
}
