//slider
.site-header-slider {
  position: relative;
  &:after {
    @include transition;
    @include font-awesome("\f107");
    vertical-align: middle;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 60px;
    font-size: 55px;
    text-align: center;
    color: $white;
    opacity: 0.6;
    @media (max-width: 767px) {
      height: 50px;
      font-size: 50px;
    }
  }
  .rev_slider_wrapper {
    .rev_row_wrap {
      .tp-mask-wrap {
        span {
          font-family: $font-secondary;
          @media (max-width: 600px) {
            font-size: 20px;
          }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: $font-secondary;
          text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.8);
          @media (max-width: 600px) {
            font-size: 45px;
          }
        }
        p {
          font-family: $font-primary;
          @media (max-width: 600px) {
            font-size: 18px;
          }
        }
      }
    }
  }
  //arrows
  .hermes.tparrows {
    background: rgba(0, 0, 0, 0.3);
    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
    .tp-leftarrow:hover:before {
      transform: translatex(0) !important;
      -webkit-transform: translatex(0) !important;
      opacity: 1;
    }
    .tp-rightarrow:hover:before {
      transform: translatex(0) !important;
      -webkit-transform: translatex(0) !important;
      opacity: 1;
    }
  }
  .tp-arr-allwrapper {
    display: none;
  }
}

.rev_slider {
  .tparrows {
	width: 60px;
	height: 140px;
	border-radius: 30px;
	background-color: rgba($color-primary, 0.3);

	&:before {
	  @include fs(40px);
	  line-height: 140px;
	  opacity: 0.3;
	}

	&:hover {
	  background-color: rgba($color-primary, 1);

	  &:before {
		opacity: 1;
	  }
	}

	@include media-breakpoint(small, 'max-width') {
	  display: none;
	}
  }

  .head-text-slider {
	@include font-family(1, bold, normal, null, condensed, -6.25px, !important);
	@include fs(125px);
	color: $color-primary !important;

	@include media-breakpoint(small, 'max-width') {
	  @include font-family(1, bold, normal, null, condensed, -2.1px, !important);
	  @include fs(42px);
	}
  }

  .subhead-text-slider {
	@include font-family(1, 300, normal, null, condensed, -3.5px, !important);
	@include fs(70px);

	@include media-breakpoint(small, 'max-width') {
	  @include font-family(1, 300, normal, null, condensed, -0.66px, !important);
	  @include fs(22px);
	}
  }

  .arrow-down-slider {
	i {
	  font-size: 51px !important;
	  color: $color-primary;
	  opacity: 0.6;

	  &:hover {
		opacity: 1;
	  }
	}
  }
}
