/*
**
**
** <MENUS>
**
**
*/

div.new-panel.mm-menu {

    // color del panel
    &.panel-color {
        &-primary {
            .mm-panel {
                background-color: $color-primary;    

                .mmenu-close-button {
                    left: 20px;
                }
            }
        }

        &-dark {
            .mm-panel {
                background-color: $color-dark;
                .mmenu-close-button {
                    left: auto;
                    right: 20px;
                }
            }
        }
    }

    // Heading de los paneles
    &.new-panel  {
        .et_pb_widget {
            padding:  {
                left: 30px;
                right: 30px;
            }
        }
    }


    // Panel contacto
    &.panel-contacto { 
        @include padding(40px 30px);
        @include media-breakpoint(xs) {
            @include padding(80px 30px);
        }
        .sidebar-menu-wrapper {
            padding-bottom: 100px;
            @include media-breakpoint(xs) {
                padding-bottom: 0;
            }
        }


        // modulo de texto
        .textwidget {
            p {
                font-size: 15px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        // modulo de sociales
        .widget_baumdivi_sociales_widget {
            .sociales-wrapper {
                ul {
                    @include list-unstyled;
                    @include display-flex(flex-start, flex-start);
                    width: 100%;
                    clear: both;
                    @include media-breakpoint(xs) {
                        text-align: left;
                    }
                    li.et-social-icon  {
                        @include reset-content;
                        margin: 0;
                        padding: 0;
                        &.et-social-icon {
                            margin-right: 12px;
                            @include last-child{
                                margin-right: 0;
                            }              
                        }
                    }
                }
                a {
                    @include block-size(30px);
                    color: $color-main;
                    border: solid 1px lighten($color-primary, 10%);
                    i {
                        @include transition(300ms);
                        line-height: 30px;
                        @include fs(13px);
                    }

                    // hover
                    &:hover, &:active, &:focus {
                        color: $color-primary;
                        background-color: $white;
                        border-color: transparent;
                    }
                }
            }
        }
    }


    // Panel Left
    &.panel-menu-left {
        @include padding(40px 30px);
        @include media-breakpoint(xs) {
            @include padding(80px 30px);
        }
        .sidebar-menu-wrapper {
            padding-bottom: 100px;
        }
        .mm-panel {

            // posición del icono de cerrar
            .mmenu-close-button {
                right: 20px;
            }    

            // cada menu
            .widget_nav_menu {}

            .menu {
                li {
                    position: relative;
                    margin: 0;
                    border-bottom: solid 1px darken($dark, 10%);
                    border-bottom: solid 1px rgba($white, .1);
                    @include last-child {
                        border-bottom: none;
                    }

                    // flecha
                    &:before {
                        @include transition(300ms);
                        @include transform-3d;
                        @include transform-origin;
                        @include fontawesome5('\f054');
                        @include block-size(12px);
                        font-weight: $font-semibold;
                        font-size: 10px;
                        position: absolute;
                        top: 15px;
                        left: 0;
                        font-weight: 600;
                        display: block;
                        color: $color-main;
                    }

                    &.menu-item-has-children {
                        &:before {
                            @include fontawesome5-icon('\f078');
                            left: auto;
                            right: 15px;
                            text-align: center;
                        } 

                        // href
                        > a {
                            padding-left: 0;
                        }
                        .sub-menu {

                        }
                    }

                    // ahref
                    a {
                        @include padding(10px 10px 10px 20px);
                        color: $white;
                        display: block;
                        width: 100%;
                        clear: both;
                        font-size: 13px;
                        @include media-breakpoint(xs) {
                            font-size: 15px;
                        }
                        &:active, &:focus {
                            background-color: transparent;
                        }
                    }

                    // menu open
                    &.sub-open {
                        &:before {
                            @include transform(rotateX(180deg) translateY(25%));
                        }
                        > a {

                        }
                    }
                }

                .sub-menu {
                    display: none;
                    padding-left: 20px;

                    li {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    // Panel Cotizar
    &.panel-cotizar {
        /*
        .wpcf7--NO-USAR {
            margin-top: 25px;

            label {
                font: {
                    family: $font-secondary;
                    size: 13px;
                }
            }

            .intl-tel-input {
                width: 100%;
            }

            [class*="col-"] {
                overflow: hidden;
            }

            .wpcf7-form-control {
                border: 1px solid $gray;
                padding: {
                    bottom: 12px;
                    top: 12px;
                }

                &:not(.wpcf7-submit) {
                    color: $black;
                    height: auto;
                    @include border-radius(0);
                }

                &:focus {
                    color: $color-base;
                }
            }

            .wpcf7-form-control-wrap .country {
                color: initial;
            }

            .wpcf7-submit {
                background-color: $white;
                border-color: transparent;
                color: $black;
                float: right;
                @extend %internal_buttons;
                @include transition;
                @include text-shadow(none);

                &:hover {
                    background-color: transparent;
                    border-color: $white;
                    color: $white;
                }
            }

            .wpcf7-response-output {
                margin-top: 10px;
            }
            //errores
            .wpcf7-not-valid{
                border-color: $danger;
            }
            .wpcf7-not-valid-tip{
                color: $danger;
            }
        }
        */
        .row {
            margin: 0 auto;

            .bootstrap-filestyle {
                .badge {
                    margin-left: 5px;
                    position: absolute;
                    top: 30%;
                    @include border-radius(100%);

                    // border-radius: 100%;
                    // border: 1px solid;
                    // font-size: 10px;
                    // height: 15px;
                    // transition: none;
                    // width: 15px;
                }

                .btn {
                    background-color: transparent;
                    color: $white;
                    @extend %internal_buttons;

                    &:hover {
                        background-color: $black;
                        border-color: $black;
                        color: $white;
                    }
                }

                .group-span-filestyle {
                    display: block;
                    width: 100%;
                }
            }

            [class*="col-"] {
                width: 50%;
            }
        }
    }


}
