/*
**
**
** <HOME>
**
**
*/

/* blur */
.mm-wrapper_opened {
  header {
	> div {
	  opacity: 0.5;
	}
  }
}

/* Panels */
body {
  .mm-menu_position-bottom.mm-menu_opened,
  .mm-menu_position-front.mm-menu_opened,
  .mm-menu_position-top.mm-menu_opened {
	@include z-index(mmenu-panel);
  }
  .mm-slideout {
	@include z-index(mm-slideout);
  }
}

// .mm-wrapper_opening
//   [class*="mm-menu_pagedim"].mm-menu_opened
//   ~ .mm-wrapper__blocker {
//   //background-color: $color-base;
//   //opacity: 0.7;
// }

/* Overlay */
// .mm-menu_opened.mm-menu_pagedim-black ~ .mm-wrapper__blocker {
//   //@include z-index(mmenu-overlay);
// }

.et_menu_container.et_pb_menu_visible #top-menu,
.et_menu_container.et_pb_menu_visible {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

/* opened */
.mm-wrapper_opening
[class*="mm-menu_pagedim"].mm-menu_opened
~ .mm-wrapper__blocker {
  background-color: rgba(0, 0, 0, 0.8) !important;
  a.mm-tabstart {
	display: none;
  }
}

// before/after
.mm-panel::after,
.mm-panel::before {
  content: none;
}

.new-panel.mm-menu {
  .mm-panel {
	background-color: $color-default;
  }
  .mm-panel {
	@include padding(40px 0 0);
	@include media-breakpoint(xs) {
	  @include padding(50px 0 0);
	}

	// button close panel
	$m: 24px;
	.mmenu-close-button {
	  @include pulse-animation();
	  @include transition($tr);
	  @include border-radius(100%);
	  border: none;
	  cursor: pointer;
	  position: fixed;
	  width: $m;
	  height: $m;
	  line-height: $m;
	  top: 10px;
	  left: 15px;
	  bottom: auto;
	  text-align: center;
	  color: $color-primary;
	  @include display-flex;
	  &:after {
		color: $white;
		font-size: 26px;
	  }

	  &:hover {
		@include transform-rotate(360deg);
		@include _do;
	  }
	}

	// Elementos de color
	// .textwidget > p {
	//   //@include em(20px);
	// }
	.et_pb_widget {
	  float: none;
	  margin-bottom: 0;
	}
	div[class^="widget-"] {
	  margin-bottom: 0;
	}
	.panel {
	  margin-bottom: 0;
	  background-color: transparent;
	  border: 0;
	  border-radius: 0;
	  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	  box-shadow: 0 0 0 0;
	  padding: 0 20px 5px 20px;
	  // Elementos white
	  color: $white;

	  p {
		@include font-family(1, 300, normal, null, condensed, 0px);
		@include fs(16px);
		color: #707070;
	  }

	  label {
		@include font-family(1, bold, normal, null, condensed, 0.32px);
		@include fs(16px);
		color: $white;
	  }

	  h1,
	  h2,
	  h3,
	  h4,
	  h5,
	  h6 {
		@include font-family(1, bold, normal, null, condensed, -2px);
		color: #172C54;
		margin: 10px auto;
		font-size: 40px;
	  }
	  // redes sociales
	  .footer-right-sociales {
		@media screen and (max-width: $media-sm) {
		  text-align: left;
		}
	  }
	  .row {
		margin-right: -5px;
		margin-left: -5px;
		div.col-xs-12 {
		  padding-right: 5px;
		  padding-left: 5px;
		}
	  }
	  .wpcf7-form {
		br {
		  display: none;
		}
	  }

	  .wpcf7-submit {
		@include font-family(1, bold, normal, null, condensed, -0.36px, null);
		@include em(18px);
		@include padding(8px 25px);
		background-color: $color-primary;

		&:hover {
		  background-color: darken( $color-primary, 6%);
		}

		&:focus {
		  color: $white;
		}
	  }
	}
	.panel.black {
	  background-color: $color-base;
	  color: $white;
	  padding-top: 10px;
	}
	.map-title {
	  width: 50%;
	  display: inline-block;
	  vertical-align: top;
	  .footer-right-sociales {
		float: right;
		margin: 15px 0 5px 0;
	  }
	}

	// Apply clearfix
	.social-icons-wrapper,
	.et_pb_widget {
	  @include clearfix;
	}

	// &.mm-menu_opened {
	//   .mmenu-close-button {
	//   }
	// }

	.wpcf7 {
	  .wpcf7-not-valid {
		border: 1px solid $red;
	  }

	  .wpcf7-not-valid-tip {
		color: $red;
	  }
	}
  }

  .mm-tabstart,
  .mm-tabend {
	@extend %visual-hide;
  }
}

/*#panel_menu_left {
    #menu-menu-footer-nosotros {
        .empleo {
            display: none;
        }
    }
}*/

/** mmenu **/
%internal_buttons {
  border: 2px solid $white;
  cursor: pointer;
  font: {
	family: $font-secondary;
	size: 13px;
  }
  display: inline-block;
  line-height: 1;
  margin-top: 25px;
  min-width: auto;
  width: 98%;
  @include padding(12px 5px);
}

.mm-menu_offcanvas {
  max-width: 440px;
  @media screen and (max-width: $media-xs) {
	width: 90%;
  }
}

/**
 * Quote menus
 */
.quote-menu {
  h3, p, label, li {
	color: #FFF !important;
  }
  br {
	display: none;
  }
  p.custom-margin {
	margin-bottom: 35px;
  }
  label {
	font-weight: bold;
  }

  .wpcf7-radio {
	.wpcf7-list-item-label {
	  position: relative;
	  top: -4px;
	}
	.first {
	  margin-right: 50%;
	}
	input[type="radio"] {
	  width: 20px;
	  height: 20px;
	  min-height: 5px;
	}
  }
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
  position: fixed;
  max-width: 1200px;
  left: 5%;
}

.mm-panel-text-contact {
  border-bottom: 5px solid #ccccccff !important;
  padding: 0 !important;

  &::after {
	// border: 2px solid red;
	width: 100%;
	height: 36px;
	content: " ";
	background-image: url('#{$img-path}/decoracion-form.svg');
	display: block;
	position: relative;
	bottom: -23px;
  }

  .textwidget {
	padding: 0 20px;
  }
}

.mm-panel-form-contact {
  background-color: $color-blue !important;
  padding-top: 25px !important;

  .col-md-12 {
	padding: 0 15px;
  }

  .col-md-6 {
	padding: 0 5px 0 0;
  }
}
