// Lista de items de mi carrito => tbody 
.woocommerce-cart {

    // Tabla comun
    table.shop_table {

        // Tabla de los productos
        tbody {
            tr {
                td {}

                // <td> => Imagen
                @include table-thumbnail;

                // <td> => Info del producto
                @include table-info-producto;

                // <td> => Precio del producto & subtotales
                @include table-precio;

                // <td> => Cantidad
                @include table-cantidad;

                // <td> => remover
                @include table-remove;

                &.cart-discount {
                    // <tr> <td> => cart discount
                    @include table-cart-discount;
                }
            }
        }
        @include table-shop-layout;     
    }
}

// Cupon
.woocommerce-cart-form {
    table.cart.shop_table {
        tr {
            td.actions {
                // cupon
                div.coupon {
                    max-width: 540px;
                    width: 100%;
                    float: right;
                    @include media-breakpoint(xs) {
                        float: left;
                    }
                    @include media-breakpoint(($media-xs - 1px), max-width) {
                        clear: both;
                    }

                    input#coupon_code[type="text"].input-text {
                        @include input-proyecto;
                        @include calc(width, 100%, 180px);
                        @include margin(0);
                        border-right: none;
                    } 
                    button.button {
                        @include border-radius(0);
                        @include button-main;
                        @include padding(0 10px);
                        float: right;
                        width: 180px;
                        max-width: none;
                        line-height: 42px;

                        &[disabled] {
                            background-color: color-gris(10);
                            color: color-gris(40);
                            border-color: color-gris(40);
                            opacity: 1;
                            i {
                                display: none;
                            }
                        }
                        i {
                            display: none;
                        }
                    }

                    @include media-breakpoint($media-xsmall, max-width) {

                        input#coupon_code[type="text"].input-text {
                            @include calc(width, 100%, 80px);
                        }
                        button.button {
                            width: 80px;
                            border-style: dashed;
                            &[disabled] {
                                i.fa {
                                    display: inline-block;
                                }
                            }
                            span {
                                display: none;
                            }
                            i {
                                display: inline-block;
                            }
                        }
                    }
                }

                // update
                .update-cart-button {
                    max-width: 180px;
                    width: 100%;
                    float: right;
                    button.button {
                        @include padding(0 8px);
                        max-width: none;
                        width: 100%;
                        line-height: 42px;
                        &[disabled] {
                            @include grayscale(1);
                            background-color: rgba($color-main, 0);
                            color: $color-text;
                        }
                    }
                    @include media-breakpoint(($media-xs - 1px), max-width) {
                        @include block(0 auto);
                        max-width: none;
                        overflow: hidden;
                        button.button {
                            max-width: 180px;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}


// Subtotales
.woocommerce-cart {
    .cart-collaterals {
        @include reset-content;
        overflow: hidden;
        clear: both;

        // DIV cart_totals
        @include cart-totales;

        // Titulo
        h2 {
            @include cart-heading-title;
        }

        // Tabla de desglose (sobre escribe .shop_table)
        @include cart-table-desglose;


    }    
}

#{$mi-carrito} {
    .woocommerce{
        // Buton proceder al pago
        @include cart-realizar-pedido;  
    }
}