

#{$woocommerce-pay-order} {
    .content-area {
        .entry-header {
            text-align: center;
        }
        
        .entry-content  {
            overflow: hidden;
            .woocommerce {
                overflow: hidden;
                max-width: 650px;
                display: block;
                margin: auto;

                /* === // inicio de los estilos === */

                // div vacio de notificaciones
                .woocommerce-checkout-notifications {
                    display: none;
                }

                // review de la orden
                @include order-review;
                
                // Pago con tarjeta
                @include payment;

            }
        }
    }
}