

#{$woocommerce-default} {

    // notificaciones 
    .woocommerce-info ~ form {
        float: left;
        width: 100%;
    }

    form.woocommerce-form-login {
        label {
            &:hover, &:active, &:focus {
                cursor: pointer;
            }
        }
    }

    form {
        // todos los checkboxes del checkout
        @include checkbox-input-2($color-text, $black);
    }

    // forms de acciones de login
    form[class*="woocommerce"] {
        .form-row {
            @include padding(0);
            @include margin(0 auto 15px);
            &.form-row {
                &-first, &-last {
                    @include block(0 0 10px);
                    @include padding(0);
                    width: 100%;

                    @include media-breakpoint(480px) {
                        @include float(left);
                        width: 50%;
                    }
                }

                &-first {
                    @include media-breakpoint(480px) {
                        padding-right: 5px;
                        clear: left;
                    }

                }
                &-last {
                    @include media-breakpoint(480px) {
                        padding-left: 5px;
                    }
                }

                // input[]
                input[type] {
                    max-width: none;
                    line-height: 32px;
                }
                textarea {
                    max-width: none;
                    min-height: 120px;
                }

                .optional {
                    display: none;
                }
            }
        }

        #payment .place-order {
            .wc-terms-and-conditions {
                float: none;
                clear: both;

                .checkbox {
                    display: inline-block;
                    line-height: 1.2;
                }
            }
        }
    }



    // Acciones de login o canjear cupon
    #page .woocommerce {
        @include pedido-notificaciones;   
        // Form login
        @include pedido-form-login;
    }

    // Formulario de los datos del checkout
    form.woocommerce-checkout.checkout  {

        .__infoUsuario {
            margin-bottom: 25px;
            .select2-container.select2 {
                max-width: none !important;
            }
        }

        > div.row {
            @include margin(0 -15px);
        }

        .subscribe-field {
            @include em(12px);
            @include checkbox-input-2(lighten($color-text, 8%), $black);

            label[class] {
                line-height: 22px;
                display: inline-block;
                color: lighten($color-text, 8%);
                font-weight: $font-regular;
                &:hover, &:active, &:focus {
                    cursor: pointer;
                }
                @include be {
                    top: 3px;
                }
            }
        }

        // titulo direccion
        .woocommerce-billing-fields {
            h3 {
                @include cart-heading-title();
                position: relative;
                text-align:left;
                padding-left: 15px;
            }  
        }

        // crear una cuenta
        .woocommerce-account-fields {
            .create-account-message {
                margin-bottom: 20px;
                line-height: normal;
                p {
                    line-height: normal;
                }
            }

            // crear cuenta => campos
            .create-account {

            }
        }

        // informacion del pedido
        @include __infoPedido;
    }
}

#{$woocommerce-checkout} {
    // Formas de pago
    @include paymentbox;    
}