// ==> Featured Icon Boxes
.featured_boxes {
    .vc_col-has-fill > div {
        padding-bottom: 0;
        padding-top: 0;
        height: 100%;
    }

    .vc_column-inner {
        &[class*="vc_custom"] {
            @include border-radius(3px);
        }
    }

    .wpb_wrapper {
        .vc_icon_element {
            @include em($font-size);
            margin-bottom: 2.5em;
            margin-top: 2.5em;
            position: relative;
            width: 100%;


            span.icon-text {
                @include em($vc-featured-box-icon);
                display: block;
                padding-right: 75px;
                text-align: left;
                line-height: 100%;
            }

            // icono
            .vc_icon_element-inner {
                @include transform-translate(0, -50%);
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
            }
        }
    }
}