
// Color of dots loader
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em $color-main;
	}
	40% {
		box-shadow: 0 2.5em 0 0 $color-main;
	}
}

@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em $color-main;
	}
	40% {
		box-shadow: 0 2.5em 0 0 $color-main;
	}
}