/* Baum Social Element */
.baumchild_social {
    margin-bottom: 10px;
    display: block;

    a {
        text-decoration: none;
    }

    .label-left {
        margin-right: 5px;
    }

    .label-right {
        margin-left: 5px;
    }
}

.entry-content {
    [class*="contacto_"] {
    	&:hover {
    		.fa {
    			transform: scale(1.09);
    		}
    	}
        .fa {
            @include em(24px);
            @include transition();
            display: inline-block;
            vertical-align: middle;

            &[class*="facebook"] {
                color: $facebook;
            }
            &[class*="instagram"] {
                color: $instagram;
            }
            &[class*="twitter"] {
                color: $twitter;
            }
            &[class*="whatsapp"] {
                color: $whatsapp;
            }
        }
    }
}