

/* === Variables === */
$vc-separator: $color-main;             /* Color del separador de visual composer */
$vc-featured-box-icon: 24px;            /* feaured box: tamaño del icono */
$break-xsmall: $media-small;            /* breakpoint small: 600px */


/* === Clases === */
.break-xsmall {
    .vc_col-sm-6 {
        @include media-breakpoint($break-xsmall){
            @include float;
        }
    }
}

/* Baum CTA */
.site-content .vc_row-has-fill {
	position: relative;
	
	.row_overlay {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}

	.vc-baumchild-cta {
		max-width: 760px;
		margin: 0 auto 35px;

		.title {
			color: #fff;
		}

		[class*="content"] {
			position: relative;
			z-index: 1;
		}
	}
}

/* Carousels */
.vc-carousel-wrap .carousel-container {
	margin-bottom: 35px;
}

/* Tiendas */
.stores-container {
	.store-map-pin {
		background: $color-main;
	}

	.store-content h4 {
		color: $color-main;
	}
}
