/* ## VARIABLES DEL PROYECTO ## */
@import "_variables.scss";

/* ## INCLUDE PRINCIPAL ## */
@import "../dev/includes/_inc.scss";

/* ## INCLUDE MIXINS ## */
@import "mixins-and-placeholders/mixins.scss";

/* ## INCLUDE PLACEHOLDERS ## */
@import "mixins-and-placeholders/placeholders.scss";

/* ## DEFINE EL ESTILO DE LOS HEADINGS H1-H6 ## */
@import "define/_headings.scss";

/* ## DEFINE EL ESTILO DE LOS BOTONES */
@import "define/_buttons.scss";

/*
* ###
* ### 
* ###
*/

/* ## DEFINE EL ESTILO DE <LA SELECCION */
@include selection-color($color-main, $white);

/* ## DEFINE EL ESTILO DE <HTML> */
html {
	@include html;
}

/* ## DEFINE EL ESTILO DE BODY
* @param1 = body base font size. Default: 16px ($font-size)
* @param2 = font family. Default: $font-primary (font, helvetica.. etc)
* @param3 = body color, Default: $color-base
* @param4 = body background (color / string), Default: null
*/
body {
	@include body($font-size, null, $color-text);
	font-family: $font-primary;
	font-weight: $font-regular;
	overflow-x: hidden;
}

/* ## DEFINE EL ESTILO DE FOOTER */
footer {
	@include footer(false);
}

/* ## DEFINE EL ESTILO DE LOS LINKS */
a {
	@include links($color-links, darken($color-main, 8%), none);
}

/* ## DEFINE EL ESTILO DEL BOLD */
strong,
b {
	font-weight: $font-bold;
}

/* ## DEFINE EL ESTILO DE LOS BLOCKQUOTES */
blockquote {
// quote
&:before {
	@include georgia;
	content: "\201C";
	color: $color-main;
	font-size: 5em;
	font-weight: 700;
	opacity: 0.5;
	position: absolute;
	top: -0.1em;
	left: -0.1em;
	display: inline-block;
	line-height: 1;
	text-shadow: none;
	z-index: 0;
}

// inside styles
@include blockquote(null, 0 0 0 50px);
font-size: 1em;
position: relative;
}

/* ## DEFINE EL ESTILO DE UN <HR> */
hr {
	@include hr($color-base);
}

/* ## DEFINE EL ESTILO DE UNA TABLA */
table {
	@include table;
}

figure {
	max-width: 100%;

	figcaption {
		font-style: italic;
	}
}

.main-container {
	@include clearfix;
}

button[class] {
	&:focus {
		outline: none;
		@include box-shadow(none, !important);
	}
}