/*
*  SCSS snippets
*  _variables.scss
*  Autor: Francisco Chanto
*  v1.0.0
*  Mayo, 2018
*/

$GLOBAL: "body[class]";
$transition: 200ms;
$tr: $transition;
$img-path: '/nuevo/wp-content/themes/jobst/assets/img';

/*
* === font-sizes ===
*/
$font-size: 14px; // Base font
$font-size-clean: strip-unit($font-size); // Base font unit
$line-height: (($font-size-clean / 10) + 0.3); // line height
$line-height-buttons: 34px; // Linea height de buttons
$letter-spacing: 0; // letter spacing
$forms-line-height: 43px; // alto del input de los forms

/*
* === font families ===
*/
$font-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-primary: "Interstate";
$font-secondary: "aquawax";

/*
* === font weights ===
*/
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-bold-extra: 800;
$font-black: 900;

/*
* === default colors ===
*/
$color-default: #FFF;
$color-base: $color-default;
$color-main: #E76136;
$color-primary: #E76136;
$color-secondary: null;
$color-text: #707070;
$color-links: $color-main;
$white: #ffffff;
$black: #000000;
$gray: #eeeeee;
$gray-dark: #cccccc;
$light: #f4f4f4;
$dark: $color-base;
$red: #ff0000;
$yellow: #ffff00;
$color-blue: #172C54;
$green: #33ff00;
$cyan: #00b9ff;
$orange: $color-main;

/*
* === Custom colors
*/
$color-main-hover: darken($color-main, 8%);

/*
* === Bootstrap default colors ===
*/
$primary: $color-primary;
$secondary: $color-secondary;
$success: $primary; // FA
$info: #17a2b8;
$warning: $color-main;
$danger: #f00717;

$color-success: $success;
$color-info: $info;
$color-warning: $warning;
$color-danger: $danger;
$color-light: #f8f8f8;
$color-dark: $dark;

/*
* === Escala de grises ===
*/
/*
### function: color-gris
### @param1: value, from 1 to 95
*/

/*
* === Default button clases
*/
$button-main-class: "[class].button";
$button-bootstrap-class: null;

/*
* === Social networks ===
*/
$facebook: #4267b2; //  facebook
$twitter: #00b6f1; //  Twitter
$instagram: #d93175; //  instagram
$linkedin: #006699; //  Linkedin
$youtube: #cc181e; //  Youtube
$pinterest: #cb2027; //  Pinterest
$google: #dd4b39; //  Google Plus
$dropbox: #007ee5; //  DropBox
$google-map: #4285f4; //  Google Map
$waze: #92c2d1; //  Waze
$flickr: #ff0084; //  Flickr
$pdf: #e84c3d; //  PDF
$whatsapp: #1ebea5; //  WhatsApp

/*
* === Media queries ===
*/
$media-xsmall: 420px;
$media-small: 600px;
$media-xs: 768px;
$media-sm: 992px;
$media-md: 1200px;
$media-lg: 1360px;

/*
* == elementos ==
*/
$icono_cerrar: "\2715";
$mobile-bp: 768px; // Mobile breakpoint from Megamenu
