// ESTILO DE LOS SELECTS  => select2.js

.select2-container {
    &.select2 {
        width: 100% !important;
        // max-width: 340px !important;
    }
}

.select2-container {

    .select2-dropdown {
        @include z-index(select2-dropdown);
    }

    @media screen and (max-width: 520px) {
        @include margin(0);
        max-width: none;
        width: 100% !important;
    }

    // SELECT 2
    .select2-search {
        // display: none;
    }
    // oculta el segundo select
    &.vn_option {
        display: none;
    }
}
// SELECT 2 STYLE
@include select2;

// DROP DOWN DEL MENU => ROOT body .select2-container--default
@at-root {
    .select2-container--default {
        // container
        .select2-dropdown {
            @include border-radius(2px);
            border-color: $color-gris-25;
        }

        // esconde el buscador
        .select2-search--dropdown {
            // display: none;
        }

        // Resultados
        .select2-results ul {
            @include em(14px);
        }
        li[class] {
            @include transition(100ms);
            @include padding(0 15px);
            line-height: 34px;
            &:hover, &:active, &:focus {

            }
        }

        .select2-results__option--highlighted[aria-selected] {
            background: color-gris(10);
            color: $black;
        }
        .select2-results__option[aria-selected="true"] {
            background: color-gris(10);
            color: $black;
        }
        .select2-results__option[data-selected="true"] {
            background: color-gris(10);
            color: $black;
        }
    }
}
