@font-face {
    font-family: 'datatell_icons';
    src:  url('datatell_icons.eot?4nrd4e');
    src:  url('datatell_icons.eot?4nrd4e#iefix') format('embedded-opentype'),
        url('datatell_icons.ttf?4nrd4e') format('truetype'),
        url('datatell_icons.woff?4nrd4e') format('woff'),
        url('datatell_icons.svg?4nrd4e#datatell_icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'datatell_icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dt_armonia:before {
  content: "\e904";
}
.icon-dt_asesorias:before {
  content: "\e905";
}
.icon-dt_experiencia:before {
  content: "\e907";
}
.icon-dt_lealtad:before {
  content: "\e908";
}
.icon-dt_proyectos:before {
  content: "\e909";
}
.icon-dr_respeto:before {
  content: "\e90a";
}
.icon-dt_valentia:before {
  content: "\e90b";
}
.icon-dt_menu:before {
  content: "\e900";
}
.icon-dt_cerrar:before {
  content: "\e901";
}
.icon-dt_search:before {
  content: "\e902";
}
.icon-dt_cart:before {
  content: "\e903";
}
.icon-dt_whatsapp:before {
  content: "\e906";
}
