// text transform none
%text-transform-none {
  text-transform: none;
}

// loader (la confianza)
%loader {
  @include transition;
  @include border-radius(1px);
  @include transform-translate(-50%, -50%);
  position: absolute;
  overflow: hidden;
  display: block;
  content: "";
  width: 100px;
  height: 14px;
  left: 50%;
  top: 50%;
  background-attachment: scroll;
  //background-image: url(../images/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: auto;
}

// Check-boxes
%checkboxes {
  @include checkbox-input-1;
}

// table Shop comun
%table-shop {
  //@include table-shop;
}

// Float left
%float {
  @include float;
}

// Precio default
%precio-default {
  @include precio-default;
}

// Precio variantes
%precio-variantes {
  @include precio-variantes;
}

// Estilo de un item
%item {
  @include item;
}

// Estilo de los forms
%forms {
  /* @include forms; */
}

// Icono de contacto Menu
%icono-contacto {
  position: relative;
  // icono
  &:after {
    @include transition;
    @include font-awesome("\f0e0");
    position: relative;
    color: $color-main;
    display: inline-block;
    margin-left: 2px;
  }
  // hover
  &:hover,
  &:active,
  &:focus {
    &:after {
      @include font-awesome-icon("\f2b6");
      top: -1px;
      color: $black;
    }
  }
}

// Estilos comunes del href de Mega menu
%mm-shared {
  @include em(18px);
  @include padding(0 15px);
}

// Font size heredado
%font-size {
  font-size: inherit;
}

// Float: none
%float-none {
  float: none;
}

// overflow hidden
%OVERFLOW {
  overflow: hidden;
}

// Transicion
%transition {
  @include transition($transition);
}

// clear
%clear {
  clear: both;
}

// Boton de favoritos
%boton-de-favoritos {
  @include boton-de-favoritos;
}

/* common button style */
%button-main-style {
  @include main-button-style;
}

/* button main */
%button-main {
  @include button-main;
}
/* button alt */
%button-main-alt {
  @include button-main-alt;
}

/* Input del proyecto */
%input-proyecto {
  @include input-proyecto;
}

%label-variaciones {
  @include float;
  width: 100px;
  line-height: 32px;
  font-weight: $font-bold;
  text-transform: none;
  color: $color-text;
  margin: 0;
  text-align: left;
  font-size: 14px;
}
