/*
**
**
** <Z-INDEX>
**
**
*/

$z-index: (
    default                     : initial,
    site-navigation             : 502,
    site-header-menu-primary    : 501,
    nav-overlay                 : 501,
    select2-dropdown            : 402,
    ajaxsearchpro               : 401,
    close-search                : 401,
    search-overlay              : 400,
    search-form                 : 399,
    site-header                 : 500,
    main-carousel-wrapper       : 500,
    mmenu-panel                 : 12,
    mmenu-overlay               : 11,
    btn-galeria-detalle         : 3,
    mm-slideout                 : 2,
    footer-decoration           : 1
);
@function z-index($key) {
    @return map-get($z-index, $key);
}
@mixin z-index($key, $str: null) {
    z-index: z-index($key) $str;
}


