@at-root {
    div.images {
        .slick-slider {
            // div de los thumbnails
            &.wpis-slider-nav {
                @include margin(6px 0 0);
                border: none;

                .slick-slide {
                    margin-right: 3px;
                    border: solid 2px transparent;
                    position: relative;
                    @include border-radius(2px);

                    .parent-image-container {
                        @include vertical-align-1;
                    }

                    img {
                        opacity: 1;
                        position: relative;
                        width: 100%;
                    }

                    &:hover, &:active, &:focus {
                        border-color: color-gris(15);
                    }

                    &.slick-current {
                        border-color: $color-blue;
                    }
                }
            }
        }
    }
}

// detalle del producto
div.images {

    opacity: 0;
    &.slick-loaded {
        opacity: 1;
    }

    section {
        @media screen and (min-width: $media-small) {
            @include margin(0 auto 15px);
            width: 100%;
        }

        // div de las images
        &.slider {
            margin-bottom: 15px;
            &.wpis-slider-for {
                // imagen
                img {
                    max-width: none;
                    width: 100%;
                    height: aito;
                    margin: 0 auto;
                    display: block !important;
                }
            }

            .click-mobile {
                display: none !important;
                /*
                position: absolute;
                z-index: 999;

                @include border-radius(100%);
                @include em(14px);
                @include padding(0);
                @include margin(0);
                border: solid 2px $black;
                bottom: 15px;
                color: $black;
                cursor: pointer;
                display: block;
                height: 28px;
                line-height: 24px;
                opacity: .65;
                right: 15px;
                text-align: center;
                width: 28px;
                z-index: 50;

                &:before {
                    @include font-awesome-icon('\f067');
                    line-height: 26px;
                }

                &:hover, &:active, &:focus {
                    opacity: 1;
                }
                */
            }

            // IMAGENES
            .slick-list {
                background: $white;

                .slick-slide {
                    overflow: hidden;

                    &:focus {
                        outline: 0;
                    }

                    // Centrado vertical
                    .parent-image-container {
                        @include vertical-align-1;
                    }
                }

                // Boton de ver mas grande
                a.wpis-popup {
                    // visibility: hidden;
                    @include border-radius(100%);
                    @include em(14px);
                    @include padding(0);
                    @include margin(0);
                    border: solid 2px $color-blue;
                    bottom: 15px;
                    color: $color-blue;
                    cursor: pointer;
                    display: block;
                    height: 28px;
                    line-height: 24px;
                    opacity: .65;
                    right: 15px;
                    text-align: center;
                    width: 28px;
                    z-index: 50;

                    &:before {
                        @include font-awesome-icon('\f067');
                        line-height: 26px;
                    }

                    &:hover, &:focus {
                        opacity: 1;
                        text-decoration: none;
                    }
                    &:active {
                        color: $color-main;
                        border-color: $color-main;
                    }
                }
            }
        }
    }
}


// Product detail gallery
@at-root {
    .woocommerce div.product div.images .single-product-main-image {
        .slick-slide {
            img:not(.zoomImg) {
                max-width: 100% !important;
                display: block !important;
            }
        }
    }
}

// fancybox
@at-root {
    .fancybox-controls {
        .fancybox-infobar__body, .fancybox-button {
            background: $black;
        }
    }
}

