// SKu del producto
@mixin sku($t: 13px, $color: $color-text) {
  .sku_wrapper {
    @include em($t);
    color: $color;
    text-transform: uppercase;
    display: inline-block;
    line-height: normal;
    @include padding(0 0 5px);
  }
}

// Titulo del producto
@mixin producto-titulo {
  .product_title {
    @include em(25px);
    margin-bottom: 10px;
    text-transform: none;
    color: $color-main;
    // Estilos adicionales
    @content;
  }
}

@mixin producto-titulo-ext {
  @include media-breakpoint($media-small) {
    @include calc(width, 100%, 150px);
    padding-right: 15px;
    float: left;
    text-align: left;
  }
}
// Subtitulo del producto
@mixin producto-subtitulo {
  .product-subtitle {
    margin-bottom: 20px;
    * {
      @include em($font-size);
      font-weight: $font-regular;
      margin-bottom: 10px;
      line-height: normal;
      text-transform: none;
    }
  }
}

// Precio del producto
@mixin producto-precio {
  .single_variation.woocommerce-variation {
    /* previene el fade */
    /*
        height: auto !important;
        display: block !important;
        opacity: 1 !important;
        overflow: visible !important;
        visibility: visible !important;
        line-height: 50px;
        */
    display: none !important;
  }

  .price {
    @extend %precio-default;
    @extend %precio-variantes;
    //@include em(36px);
    @include em(28px);

    padding-bottom: 15px;

    del {
      .amount {
        font-weight: $font-regular;
      }
    }

    ins {
      color: $black;
    }

    + .stock {
      display: none;
    }
  }
}

// Boton Agregar al carrito
@mixin producto-add2cart {
  [class*="add_to_cart_button"].alt {
    @include padding(10px 20px);
    // @include button-main;
    border: none;
    @include set-new-button-style($color-main, $white);
    //@include set-new-button-hover(darken($color-main, 6%), $white, $color-main);
    @include em(14px);
    display: block;
    line-height: 1.4em;
    clear: both;
    margin-bottom: 15px;
    position: relative;
    font-weight: $font-medium;
    float: none;
    min-width: 300px;
    &:hover,
    &:active,
    &:focus {
      background-color: darken($color-main, 6%) !important;
    }
    &.disabled {
      pointer-events: none;
      opacity: 1;
      @include set-new-button-style($gray-dark, $white);
    }

    @media screen and (max-width: 599px) {
      //@include em(14px);
      min-width: auto;
      width: auto;
      margin: 0 auto;
    }
  }
}
