form.variations_form .woo-variation-items-wrapper .variable-items-wrapper {
  // disabled hover elements
  pointer-events: none;

  .button-variable-item-ligera, .button-variable-item-preventiva {
	background-color: #b2e1d8 !important;
	color: $white !important;
	display: inline-block !important;
	height: 50px !important;
	padding: 8px 15px 15px !important;
	vertical-align: middle !important;
	border-radius: 3px !important;
	border: 2px solid #b2e1d8;
	box-shadow: 0 0 0 1px #b2e1d8;

	&:before {
	  @include font-family(1, 300, normal, null, condensed, -0.28px, null);
	  content: "8-15 mmHg";
	  display: block;
	  text-transform: initial !important;
	}

	@extend %media-variations;
  }

  .button-variable-item-baja {
	background-color: #0096d6 !important;
	color: $white !important;
	display: inline-block !important;
	height: 50px !important;
	padding: 8px 30px !important;
	vertical-align: middle !important;
	border-radius: 3px !important;
	border: 2px solid #0096d6;

	&:before {
	  @include font-family(1, 300, normal, null, condensed, -0.28px, null);
	  content: "15-20 mmHg";
	  display: block;
	  text-transform: initial !important;
	}

	&:hover {
	  box-shadow: 0 0 0 1px #0096d6 !important;
	}

	@extend %media-variations;
  }

  .button-variable-item-media {
	background-color: #008996 !important;
	color: $white !important;
	display: inline-block !important;
	height: 50px !important;
	padding: 8px 30px !important;
	vertical-align: middle !important;
	border-radius: 3px !important;
	border: 2px solid #008996;

	&:before {
	  @include font-family(1, 300, normal, null, condensed, -0.28px, null);
	  content: "20-30 mmHg";
	  display: block;
	  text-transform: initial !important;
	}

	&:hover {
	  box-shadow: 0 0 0 1px #008996 !important;
	}

	@extend %media-variations;
  }

  .button-variable-item-alta {
	background-color: #490e67 !important;
	color: $white !important;
	display: inline-block !important;
	height: 50px !important;
	padding: 8px 30px !important;
	vertical-align: middle !important;
	border-radius: 3px !important;
	border: 2px solid #490e67;

	&:before {
	  @include font-family(1, 300, normal, null, condensed, -0.28px, null);
	  content: "30-40 mmHg";
	  display: block;
	  text-transform: initial !important;
	}

	@extend %media-variations;
  }

  %media-variations {
	@include media-breakpoint(xsmall, 'max-width') {
	  padding: 8px 25px 15px !important;
	  min-width: 113px !important;
	}
  }
}
