
/*
 * Devuelve el valor de un color de un array map de colores
 */
@function color($color-name, $color-variant:null) {
    // color variant is optional
    @if ($color-variant != null) {
        // map inception
        @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
        @return map-get($colors, $color-name);
    }
}
/*
 * Devuelve el valor de un color de un array map de colores grises
 */
@function color-gris($color-name, $color-variant:null) {
    @if $escala-gris {
        @return map-get($escala-gris, $color-name); 
    }@else {
        @error "Error";
    }
}



/*
* Remove the unit of a length
* @param {Number} $number - Number to remove unit from
* @return {Number} - Unitless number
*/
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

/*
*  font awesome 5 clean icon
*/
@function fa-content($icon: null) {
  @return unquote("\'#{ $icon }\'");
}