
form.wpcf7-form {
    .form-group {
        position: relative;

        .ajax-loader {
            @include margin(0);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-attachment: scroll;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: rgba($white, .87);
            border:solid 1px $color-main;
        }
    }
    input[type="submit"].wpcf7-submit {
        max-width: none;
        width: 100%;
    }
    .wpcf7-response-output {
        @include margin(0);
        border-color: $color-main;
        color: $color-main;

    }
}