.woocommerce-order-pay form#payment input[id*="baum_payment_gateway-card"] {
    border-width: 2px;
    &.is_required {
        border-color: $color-main;
    }
}
@include table-colors;

// === > MI CARRITO
@import "_parts/mi-carrito.scss";

// ===> REALIZAR PEDIDO
@import "_parts/realizar-pedido.scss";

// ===> PAGAR EL PEDIDO
@import "_parts/pagar-pedido.scss";

// ===> CONFIRMACION DE ORDEN
@import "_parts/confirmacion-de-orden.scss";

// ===> LAYOUT DE TABLA EN RESPONSIVE

form {
    &#order_review {
        tbody {
            td:not(.product-name) {
                font-weight: 700;
            }
        }       
    }

    &.woocommerce-checkout,
    &#order_review {
        tbody {
            td.product-name {
                text-align: left;

                .product-title {
                    font-weight: 700;
                }

                .product-subtitle {
                    font-weight: 400;
                    font-size: 0.9em;
                }
            }
        }
    }
}