.blog, .archive {
  .site-main {
	header {
	  margin-top: 50px;
	  @include media-breakpoint(xs, 'max-width') {
		margin-top: 40px;
		padding: 0 20px;
	  }

	  h1 {
		@include font-family(1, bold, normal, null, condensed, -2px, null);
		@include fs(40px);
		color: $color-blue;
		text-align: center;

		@include media-breakpoint(xs, 'max-width') {
		  font-size: 35px;
		  margin-bottom: 10px;
		}
	  }
	}
  }

  article {
	padding: 8px;

	@include media-breakpoint(xs, 'max-width') {
	  padding: 8px 20px;
	}

	.article-container {
	  background-color: #F8F8F8;
	  border: 1px solid #E5E5E5;

	  header {
		margin-top: 20px;
		margin-bottom: 20px;
		@include padding(0 15px, !important);

		h2 {
		  line-height: 20px;
		}
	  }

	  .entry-title a {
		@include font-family(1, bold, normal, null, condensed, -0.4px, null);
		@include fs(20px);
		line-height: 20px;
		color: $black;
		font-weight: $font-bold;
	  }

	  header, .entry-content {
		padding: 0 20px;
	  }

	  .post-thumbnail {
		max-height: 220px;
		overflow: hidden;

		@include media-breakpoint(xs, 'max-width') {
		  max-height: 250px;
		}

		.wp-post-image {
		}
	  }

	  .entry-content {
		@include font-family(1, 300, normal, null, condensed, 0px, null);
		@include fs(16px);
		line-height: normal;
		color: $color-text;

		.entry-content-excerpt {
		  margin-bottom: 20px;
		}

		.btn-read-more-container {
		  text-align: left;
		  margin-bottom: 20px;

		  .btn-read-more {
			font-size: 1em;
			font-family: $font-primary;
			width: auto;

			i {
			  color: $black;
			}

			&:hover {
			  font-weight: $font-bold;
			}
		  }
		}
	  }
	}
  }
}
