.post-template-default {
  .site-main {
	article {
	  @include media-breakpoint(xs, 'max-width') {
		padding: 0 20px;
	  }

	  header {
		margin-top: 50px;
		margin-bottom: 15px;
		@include media-breakpoint(xs, 'max-width') {
		  margin-top: 40px;
		  margin-bottom: 20px;
		}

		h1 {
		  @include font-family(1, bold, normal, null, condensed, -2px, null);
		  @include fs(40px);
		  color: $color-blue;
		  margin-bottom: 0;

		  @include media-breakpoint(xs, 'max-width') {
			@include fs(40px);
			margin-bottom: 30px;
			text-align: center;
		  }
		}

		.edit-link a {
		  color: $color-primary;
		}
	  }

	  .entry-content {
		padding-right: 8%;
		font-weight: $font-light;

		@include media-breakpoint(xs, 'max-width') {
		  padding-right: 0;
		}

		.post-main-image {
		  margin: 0 auto 15px;
		}

		p {
		  @include font-family(1, 300, normal, null, condensed, 0px, null);
		  @include fs(16px);
		  color: $color-text;
		  line-height: normal;
		}

		h2, h3, h4, h5 {
		  @include font-family(1, bold, normal, null, condensed, -0.4px, null);
		  color: $black;
		}

		a {
		  color: $color-primary;
		}
	  }
	}

	aside {
	  margin-top: 50px;

	  .blog-sidebar-container {
		article {
		  margin-bottom: 20px;

		  .article-container {
			background-color: #F8F8F8;
			border: 1px solid #E5E5E5;

			.post-thumbnail {
			  max-height: 220px;
			  overflow: hidden;

			  .wp-post-image {
			  }
			}

			h3 {
			  margin-top: 23px;
			  padding: 0 20px;
			  line-height: 20px;

			  a {
				@include font-family(1, bold, normal, null, condensed, -0.4px, null);
				@include fs(20px);
				color: $black;
			  }
			}

			.entry-content {
			  @include font-family(1, 300, normal, null, condensed, 0px, null);
			  @include fs(16px);
			  line-height: normal;
			  color: $color-text;
			  padding: 0 20px;

			  .btn-read-more-container {
				text-align: left;
				margin-bottom: 20px;

				.btn-read-more {
				  @include fs(16px);
				  color: $color-primary;
				  font-family: $font-primary;

				  i {
					color: $black;
				  }

				  &:hover {
					font-weight: $font-bold;
				  }
				}
			  }
			}
		  }

		  .article-container-mobile {
			.col-xs-5 {
			  padding-right: 0;
			}

			.post-thumbnail {
			  max-height: 90px;
			  overflow: hidden;
			  background-color: $white;

			  .wp-post-image {
			  }
			}

			a {
			  color: $color-primary;
			}

			h3 {
			  line-height: .7;
			  margin-bottom: 10px;

			  a {
				@include font-family(1, bold, normal, null, condensed, -0.36px, null);
				@include fs(18px);
				color: $black;
			  }
			}

			i {
			  color: $black;
			}
		  }
		}
	  }
	}
  }
}
