#about-header {
  .wpb_content_element {
	margin-bottom: 0 !important;
  }
}

.about-header-text {
  padding: 8% 50px 50px 0;

  @include media-breakpoint(xsmall, 'max-width') {
	padding: 60px 10px 70px;
	text-align: center;
  }

  h3 {
	@include font-family(1, bold, normal, null, condensed, -2px, !important);
	@include em(40px, $font-size, !important);
	color: $color-blue !important;

	strong {
	  font-family: Roboto, sans-serif !important;
	  color: $black !important;
	  font-size: 25px !important;
	  top: -10px;
	  position: relative;
	}
  }

  p {
	@include font-family(1, 300, normal, null, condensed, 0px, null);
	@include fs(18px);
	color: $color-text;
  }

  .btn-default {
	@include font-family(1, bold, normal, null, condensed, -0.36px, null);
	@include padding(12px 55px);
	@include fs(18px);
	background-color: $color-blue;
	border: 1px solid $color-blue;

	&:hover, &:focus {
	  background-color: darken($color-blue, 6%);
	  border: 1px solid $color-blue;
	}
  }
}

.about-header-image {
  @include media-breakpoint(xsmall, 'max-width') {
	.vc_column-inner {
	  padding: 0;
	}
  }
}

#about-standard {
  padding-top: 30px;
  padding-bottom: 40px;

  @include media-breakpoint(xsmall, 'max-width') {
	text-align: center;
  }

  h2 {
	@include font-family(1, bold, normal, null, condensed, -2px, null);
	@include fs(40px);
  }

  p {
	@include font-family(1, 300, normal, null, condensed, -0.36px, null);
	@include fs(18px);
	color: $white;
  }
}

#about-history {
  @include media-breakpoint(xsmall, 'max-width') {
	padding: 0 !important;

	.vc_column-inner {
	  padding-left: 0 !important;
	}
  }

  h2 {
	@include font-family(1, bold, normal, null, condensed, -2px, null);
	@include fs(40px);
	color: $color-blue !important;
  }
}
