.contact-section-call-to {
  background: transparent linear-gradient(180deg, #2E497B 0%, #172C54 100%) 0% 0% no-repeat padding-box;
  @include padding(60px 0 80px);
  text-align: center;
  margin-top: 50px;

  @include media-breakpoint(xs, 'max-width') {
	@include padding(47px 0 37px);
  }

  h3 {
	@include font-family(1, bold, normal, null, condensed, -2px, !important);
	@include em(40px, $font-size, !important);
	color: $white !important;
	margin-bottom: 50px !important;
  }

  .button-contact a {
	@include font-family(1, bold, normal, null, condensed, -0.32px, null);
	@include fs(16px);
	@include padding(15px 58px);
	border-radius: 25px;
	color: $white;
	background-color: $color-primary;
	border: 1px solid $color-primary;

	@include media-breakpoint(xs, 'max-width') {
	  @include fs(18px);
	  @include padding(14px 54px);
	}
  }
}

.contact-section-newsletter {
  background-image: url('#{$img-path}/theme/bg-azul.png');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;

  @include media-breakpoint(xs, 'max-width') {
	background-image: url('#{$img-path}/theme/bg-azul-movil.png');
	padding-top: 45px;

	.wpb_text_column {
	  margin-bottom: 20px;
	}
  }

  h2 {
	@include font-family(1, bold, normal, null, condensed, -2.75px, !important);
	@include em(55px, $font-size, !important);
	margin-bottom: 0 !important;

	@include media-breakpoint(xs, 'max-width') {
	  @include font-family(1, bold, normal, null, condensed, -1.5px, !important);
	  @include em(30px, $font-size, !important);
	  text-align: center;
	}
  }

  h3 {
	@include font-family(1, 300, normal, null, condensed, -2px, !important);
	@include em(40px, $font-size, !important);
	color: $white !important;

	@include media-breakpoint(xs, 'max-width') {
	  @include font-family(1, 300, normal, null, condensed, -1px, !important);
	  @include em(20px, $font-size, !important);
	  text-align: center;
	}
  }

  .wpcf7-form {
	strong {
	  @include font-family(1, bold, normal, null, condensed, -0.36px, null);
	  @include fs(18px);
	  color: $white;
	}

	@include media-breakpoint(xs, 'max-width') {
	  .client-col {
		margin-bottom: 50px !important;
	  }

	  .acceptance-col {
		margin-bottom: 15px;
	  }
	}

	.row .col-md-12 {
	  margin-bottom: 0;

	  .form-group {
		margin-bottom: 0;
	  }

	  .row .col-md-5 {
		padding-right: 0;

		@include media-breakpoint(xs, 'max-width') {
		  padding: 0 15px;
		}
	  }

	  .row .col-xs-6 {
		@include media-breakpoint(xs, 'max-width') {
		  &:first-child {
			padding-right: 2px;
		  }
		  &:nth-child(2) {
			padding-left: 2px;
		  }
		}
	  }
	}

	input[type="text"], input[type="email"] {
	  @include font-family(1, 300, normal, null, condensed, -0.32px, null);
	  @include fs(16px);
	  border-radius: 25px;
	  border: 1px solid #E5E5E5;
	  line-height: 48px;

	  @include media-breakpoint(xs, 'max-width') {
		@include fs(14px);
		letter-spacing: -0.28;
	  }
	}

	.wpcf7-radio {
	  .wpcf7-list-item {
		float: left;
		&.last {
		  margin-left: 40px;
		}

		input[type='radio'] {
		  width: 20px;
		  height: 20px;
		  margin-top: 0;
		}

		.wpcf7-list-item-label {
		  &:after {
			top: -8px !important;
		  }
		}
	  }
	}

	button[type="submit"] {
	  @include font-family(1, bold, normal, null, condensed, -0.36px, null);
	  @include padding( 9px 35px);
	  @include fs(18px);
	  color: $white;
	  border-radius: 25px;
	  background-color: $color-primary;
	  border: 1px solid $color-primary;
	  width: 100%;

	  &:hover {
		background-color: darken($color-primary, 8%);
	  }

	  @include media-breakpoint(xs, 'max-width') {
		width: 100%;
	  }
	}

	.wpcf7-acceptance {
	  .wpcf7-list-item {
		label {
		  margin-top: 12px;
		}
	  }

	  input {
		margin: 0;
		width: 18px;
		height: 18px;
		min-height: 18px;
		left: -5px;
		position: absolute;
	  }
	}

	.wpcf7-not-valid-tip {
	  color: $red;
	}

	input.wpcf7-not-valid {
	  border: 1px solid $red;
	}

	.wpcf7-response-output {
	  background-color: $white;
	  border: 2px solid $color-primary;
	  padding: 0 10px;
	  margin: 0;
	}

	span.is-active {
	  background-color: $color-primary;
	}
  }

  .screen-reader-response, .wpcf7-display-none {
	display: none;
  }

  div.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	background-image: url(/wp-content/plugins/contact-form-7/images/ajax-loader.gif);
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;
  }
}

#home-newsletter, .contact-section-newsletter {
  div.wpcf7  .ajax-loader.is-active {
	visibility: visible;
  }

  div.wpcf7 {
	.fa-custom-loader {
	  visibility: visible !important;

	  &:before {
		content: "\f1d8";
	  }

	  &.is-active {
		animation: fa-spin 2s infinite linear;

		&:before {
		  content: "\f021";
		}
	  }
	}
  }
}
