#collapse-faq {
  .vc_tta-panel {
	margin-bottom: 10px;
  }

  .vc_tta-panel-heading {
	background-color: #A5A5A5;
	border-radius: 28px;

	h4 {
	  @include font-family(1, bold, normal, null, condensed, -0.4px, null);
	  @include fs(20px);

	  a, i::before {
		color: $white;
	  }
	  i::before {
		border-color: $white;
	  }
	}
  }

  .vc_active {
	.vc_tta-panel-heading {
	  background-color: $color-primary;
	}
  }

  .vc_tta-panel-body {
	@include padding(30px 20px);
	background-color: $white;
	border: none;

	p {
	  @include font-family(1, 300, normal, null, condensed, -0.32px, null);
	  @include fs(16px);
	}
  }
}
