.page-template-default {
  .contenido {
	#main {
	  margin-top: 50px;
	}

	article {
	  h1.entry-title {
		@include font-family(1, bold, normal, null, condensed, -2px, null);
		@include fs(40px);
		color: $color-blue;
		text-align: center;
	  }

	  h2, h3, h4, h5 {
		@include font-family(1, bold, normal, null, condensed, -2px, null);
		color: $color-blue !important;
	  }

	  p {
		@include font-family(1, 300, normal, null, condensed, 0px, null);
		@include fs(16px);
		color: $color-text;
		line-height: 20px;
	  }
	}
  }
}
