#page-tips, #page-tips-instructions, #page-tips-replacement {
  padding: 50px 0;
}

.page-tips-header-text, .page-tips-instructions-text, .page-tips-replacement-text {
  padding: 8% 50px 50px 40px;
  background-color: #FBFBFB;

  h3 {
	@include font-family(1, bold, normal, null, condensed, -2px, !important);
	@include em(40px, $font-size, !important);
	color: $color-blue !important;

	strong {
	  font-family: Roboto, sans-serif !important;
	  color: $black !important;
	  font-size: 25px !important;
	  top: -10px;
	  position: relative;
	}
  }

  p {
	@include font-family(1, 300, normal, null, condensed, 0px, null);
	@include fs(18px);
	color: $color-text;
  }
}

.page-tips-header-image, .page-tips-instructions-image, .page-tips-replacement-img {
  .vc_column-inner {
	padding: 0;
  }
  .wpb_single_image {
	margin-bottom: 0;
  }
}
