@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.site-content h1::after {
  display: none;
}

.page-template-page_without-header {
  .vc_parallax-content-moving, #services-footer-contact {
    margin-left: 0;
    margin-right: 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : $screen-md-max) {
  .modal-dialog {
    width: 850px;
  }

  .page-template-page_without-header {

  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : $screen-sm-max) {
  .page-template-page_without-header {

  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : $screen-xs-max) {
  .modal-dialog {
    max-width: 580px;
    margin-top: 25%;

    .modal-header {
      padding: 10px;
    }

    .modal-body {
      padding: 0 13px 10px;
    }
  }

  .page-template-page_without-header {
    .hero-heading {
      font-size: 2em;
    }

    .container-overlap {
      padding-left: 0;
      padding-top: 20px;
      margin-bottom: 0;

      .wpb_single_image {
        margin-bottom: 0;
      }
    }

    .column-overlap {
      .vc_column-inner {
        padding-top: 0 !important;
      }
    }

    .box-shadow {
      box-shadow: none;
    }

    #service-1-text, #service-3-text {
      position: relative;
      left: 0;
      top: 0;
    }

    #service-1-text, #service-2-text, #service-3-text {
      background-color: unset !important;
    }

    #service-2-text {
      padding-top: 0 !important;

      .vc_column-inner {
        padding-top: 10px;
      }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : $screen-xs-min) {
  .modal-dialog {
    max-width: 340px;
    margin-top: 35%;

    .modal-header {
      padding: 10px;
    }

    .modal-body {
      padding: 0 13px 10px;
    }
  }

  .page-template-page_without-header {
    .hero-heading {
      font-size: 2em;
    }

    .container-overlap {
      padding-left: 0;
      padding-top: 20px;
      margin-bottom: 0;

      .wpb_single_image {
        margin-bottom: 0;
      }
    }

    .column-overlap {
      .vc_column-inner {
        padding-top: 0 !important;
      }
    }

    .box-shadow {
      box-shadow: none;
    }

    .service-button-list {
      text-align: center;

      li {
        margin-right: 8px;
      }
    }

    .services-button {
      padding: 10px 35px;
    }

    #service-1-text, #service-3-text {
      position: relative;
      left: 0;
      top: 0;
    }

    #service-1-text, #service-2-text, #service-3-text {
      background-color: unset !important;
    }

    #service-2-text {
      padding-top: 0 !important;

      .vc_column-inner {
        padding-top: 10px;
      }
    }

    .has-internet, .can-aps-access-the-internet, .are-the-aps-on-the-same-network, .has-public-ip, .cloud-management {
      margin-left: 20px;
    }

    .quote-menu .wpcf7-radio .first {
      margin-right: 30%;
    }

    .row-margin-10 .col-xs-4 {
      padding-right: 0;
    }

    .aditional-services {
      .wpcf7-list-item {
        display: block;
      }
    }
  }
}
