#{$woocommerce-page} {
    button, a {
        &.button {
            @include border-radius(2px);
            @include button-main-alt; 
            &:disabled {
                cursor: default;
                pointer-events: none;
                opacity: 1;
                @include set-new-button-style(color-gris-30, $color-default, color-gris-30);
            }
        }
        &.button.alt {
            @include button-main;
        }

    }
    a.button.checkout-button.alt {
        @include button-main;
        @include em(20px);
        @include font-family(1, 600);
        width: 100%;
        max-width: none;
        letter-spacing: 0;
        @include border-radius(2px);
    }
}
#{$woocommerce-default} {
    a {
        &.wc-backward {
            @include button-main-alt;
            @include border-radius(2px);
            font-weight: 500;            
        }
    }
}