body.overlay {
	&:before {
		background: rgba($white, 0.85);
		content: "";
		display: block;
		height: 100%;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 17;
	}
}

/*
.woocommerce {
    div.product {
        .stock {
            @include em(14px);
            text-transform: uppercase;
            color: $color-warning;
        }
    }
}
*/
