nav.woocommerce-pagination {
  @include block(1em 0 0);
  text-align: center !important;

  ul.page-numbers {
	border: none;

	li {
	  border: none;

	  // ambos elementos <span> <a>
	  a, span {
		@include pagination-style;
	  }

	  a {
		/*
		&.prev, &.next {
			position: relative;
			color: transparent;
			@include be_af {
				@include font-awesome(null);
				background-color: $white;
			}
		}
		*/
		&.prev {
		  color: $color-primary;

		  &:hover {
			color: $white;
		  }

		  i[class] {
			@include be {
			  @include font-awesome-icon('\f053');
			}
		  }
		}

		&.next {
		  color: $color-primary;

		  &:hover {
			color: $white;
		  }

		  i[class] {
			@include be {
			  @include font-awesome-icon('\f054');
			}
		  }
		}
	  }

	  // current
	  span {
		&.current {
		  background: $color-main;
		  color: $white;
		}
	  }
	}
  }
}
