header.woocommerce-products-header {
  @include padding(0);
  text-align: left;
  margin-bottom: 10px;
  @at-root #{$GLOBAL} #{&} {
	h {
	  &1, &2, &3, &4 {
		margin-bottom: 0;
	  }
	}
  }

  .woocommerce-products-header__title {
	@include font-family(1, bold, normal, null, condensed, -2px, null);
	@include fs(40px);
	color: $color-blue;

	@include media-breakpoint(xs, 'max-width') {
	  text-align: center;
	}
  }
}

/*
// descripcion de la categoria
.term-description {
text-align: center;
margin-bottom: 20px;
padding-top: 20px;
p {
@include margin(0);
}
}
*/
