
/*
body.post-type-archive {
    nav.woocommerce-breadcrumb {
        display: none;
    }
}
*/
.woocommerce {

    // breadcrumbs & descripcion de la categoria
    nav.woocommerce-breadcrumb {
        @include padding(0 15px);
        @include margin(0);
        background: {
            color: $white;
        }
        line-height: 30px;
        text-align: left;
        
        display: none;
        
    }  

    // breadcrumbs
    nav.woocommerce-breadcrumb {
        @include em(14px);
        color: $color-primary;
        margin: 0  0 15px;
        font-weight: $font-regular;
        @media screen and (max-width: 460px) {
            display: none;
        }
        a, .delimiter {
            display: inline-block;
            line-height: 30px;
            font-weight: $font-regular;
        }

        a {
            font-size: inherit;
            color: $color-main;
            margin-right: 5px;
            &:hover, &:active, &:focus {
                text-decoration: underline;
            }
        }

        .delimiter {
            @include margin(0 8px);
            font-size: inherit;
            i.fa {
                color: $color-danger;
            }
        }
    }   
}

.woocommerce.single-product {
    // breadcrumbs & descripcion de la categoria
    nav.woocommerce-breadcrumb {
        margin: -10px 0 15px;
    } 
}
