.carousel-container {
  // padding al div de woocommerce para acomodar las ferlchas
  .woocommerce {
	@include padding;
  }

  // flechas de navegacion
  .owl-controls {
	.owl-nav {
	  // define el tamaño base del font de la navegacion
	  font-size: $font-size;
	  // prev - next
	  .owl-prev, .owl-next {
		@include em(30px);
		@include block-size(60px);
		color: $white;
		background-color: #A5A5A5;
		text-align: center;
		border-radius: 0;

		i {
		  line-height: 60px;
		}

		&:hover {
		  background-color: $color-blue;
		}
	  }

	  .owl-prev {
		margin-left: -60px;

		@include media-breakpoint(xs, 'max-width') {
		  margin-left: -30px;
		}
	  }
	  .owl-next {
		margin-right: -60px;

		@include media-breakpoint(xs, 'max-width') {
		  margin-right: -30px;
		}
	  }
	}
  }

  .baum-product-slider {
	.owl-item {
	  .product a {
		h3.woocommerce-loop-product__title {
		  @include font-family(1, bold, normal, null, condensed, -0.32px, null);
		  font-size: 16px !important;
		  color: $black !important;
		  text-align: left;
		}

		p.woocommerce-loop-product__excerpt {
		  @include font-family(1, 300, normal, null, condensed, 0px, null);
		  @include fs(16px);
		  color: #707070;
		  text-align: left;
		  line-height: 16px;
		}
	  }
	}
  }
}
