
@at-root #page{
    .woocommerce {
        &-info, &-message, &-error {
            @include reset-content;
            @include clearfix;
            @include border-radius(2px);
            @include padding(15px 10px);
            background: $white;
            margin-bottom: 20px;
            border: solid 1px transparent;
            color: $color-text;
            width: 100%;
            text-align: left;

            li { @include reset-content(false);}

            .button {
                @extend %button-main;
                @include transition;
                font-weight: $font-light;
                @media screen and (max-width: $media-small) {
                    @include padding(4px 10px);
                    font-size: 0.9em;
                    line-height: 26px;
                    max-width: 140px;
                }
            }
        }

        // exito
        &-message,
        &-error {
            line-height: 1.8;

            .button {
                line-height: inherit;
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        &-message {
            border-color: $color-main;
            color: $color-main;
            // Avoid showing all messages from added to cart plugin
            display: none;
        }

        // Required
        &-error {
            border-color: $color-danger;
            color: $color-text;
            list-style-type: none;

            > li {
                margin-bottom: 0;
            }
        }

        &-info {
            background: none;
            border-color: $color-main;
            color: $black;
            a {
                color: $color-main;
                &:link {
                    color: $color-main;
                }
            }
        }
    }  
}


// Error de stock
.out-stock-item {
    @include block;
    @include em(14px);
    padding-top: 10px;                    
}