
#{$woocommerce} {


    //@extend %forms;
    form {
        // input & selects
        input:not(.button), select {
            @include input-proyecto;
            line-height: $forms-line-height;
        }

        // ABBR
        abbr[title], acronym[title], abbr {
            @include em(14px);
            border-bottom: none;
            line-height: 1;
            text-decoration: none;
        }

        // Input válido
        .form-row.woocommerce-validated {
            input[class]:not(.button), {
                border-color: $color-main;
            }    
        }  
    }
}


