body:not(.single-product) #content {
    padding-top: 30px;
}

.contenido {
    article {
        .entry-header {
            text-align: center;
            margin-bottom: 30px;
            padding-bottom: 15px;
            h1 {
                @include margin(0);
            }
        }
    }
}