.tax-pv_category {
  #main {
	margin-top: 50px;
  }

  h1.entry-title {
	@include font-family(1, bold, normal, null, condensed, -2px, null);
	@include fs(40);
	color: $color-blue;
	text-align: center;
  }
}

.section-select-zonas {
  margin: 0 auto 30px;
  max-width: 320px;
  text-align: center;

  select {
	width: 100%;
  }
}

.section-zonas-destacadas {
  .single-zona-destacada {
	@include display-flex;
  }
}

.section-filterable-zonas {
  .listing-zonas-categories {
	margin-bottom: 30px;

	.single-zona {
	  @include font-family(1, bold, normal, null, condensed, -0.36px, null);
	  @include padding(10px 5px);
	  @include fs(18px);
	  background-color: #E5E5E5;
	  color: $color-text;
	  border-radius: 25px;
	  text-align: center;

	  &.active {
		color: $white;
		font-weight: $font-semibold;
		background-color: $color-primary;
	  }

	  &:hover {
		background-color: darken($color-primary, 6%);
		color: $white;
	  }
	}
  }

  .filtering-zonas-venta {
	ul.listing-zonas {
	  overflow: hidden;
	  margin-bottom: 25px;

	  &.columns-3 {
		> li {
		  @media screen and (min-width: $media-xs + 1) {
			width: 33.33%;
		  }
		}
	  }

	  &.columns-4 {
		> li {
		  @media screen and (min-width: $media-sm + 1) {
			width: 25%;
		  }

		  @media screen and (min-width: $media-xs + 1) and (max-width: $media-sm) {
			width: 33.33%;
		  }
		}
	  }

	  &[class*="columns"] {
		> li {
		  float: left;
		  word-break: break-word;

		  &.the-first {
			clear: left;
		  }

		  @media screen and (min-width: 481px) and (max-width: $media-xs) {
			width: 50%;
		  }

		  @media screen and (max-width: 480px) {
			width: 100%;
		  }
		}
	  }

	  .zona-venta-details {
		.value {
		  display: inline-block;
		  vertical-align: middle;
		  width: calc(100% - 25px);
		}
	  }
	}
  }
}

.single-zona-venta {
  @include margin(5px);
  @include padding(20px);
  border: 1px solid #E5E5E5;

  .zona-title {
	@include font-family(1, bold, normal, null, condensed, -0.4px, null);
	@include fs(20px);
	color: $black !important;
	margin-bottom: 20px;
  }

  .zona-venta-details {
	p {
	  @include font-family(1, 300, normal, null, condensed, 0px, null);
	  @include fs(16px);
	  color: $color-text;
	  line-height: 16px;
	  margin-left: 5px;

	  i {
		@include fs(11px);
		color: $black;
	  }

	  span {
		padding-left: 10px;
	  }
	}
  }

  .key {
	&-pv_ciudad {
	  font-weight: $font-bold;
	}
  }
}

@keyframes zoom-in {
  0% {
	transform: scale(.1);
  }
  100% {
	transform: none;
  }
}

.is-animated {
  animation: .6s zoom-in;
}
