
%max-account {
    @include margin(0 auto);
    max-width: 600px;
    width: 100%;
}

// Mi Cuenta
.woocommerce-page form .form-row-first {
    clear: left;
}

.woocommerce-account {
    .woocommerce-MyAccount-content {
        @include block;
        width: 100%;

        h3 {
            @include subtitulo-cuenta;

            @at-root .woocommerce-edit-address#{&} {
                display: none;
            }
        }

        // Mis pedidos
        @import "_parts/mis-pedidos.scss";
    }
}

/*
=== Login ===
*/
@import "_parts/login.scss";
/*
=== pagina de bienvenida ===
*/
@import "_parts/bienvenida.scss";
/*
=== Detalles de la cuenta ===
*/
@import "_parts/detalles-de-la-cuenta.scss";
/*
=== Direcciones ===
*/
@import "_parts/direcciones.scss";
/*
=== Detalle de un pedido ===
*/
@import "_parts/detalle-de-pedido.scss";