@import "_buttons_bs.scss";
@import "_buttons_wc.scss";

$bootstrap-buttons: true;
$woocoomerce-buttons: true;

@mixin set-button-style($border: null) {
  @extend %button-main-style;
  min-width: 150px;
  border: $border;
}

@if $woocoomerce-buttons {
  @include woocommerce-buttons;
}

@if $bootstrap-buttons {
  @include bootstrap-buttons;
}
