@mixin woocommerce-buttons {
    // Buttons woocommerce
    $button-class: (
        alt: (
        $color-main,
        $color-main,
        $color-main
        )
        );

    #{$woocommerce},
    #{$woocommerce-page},
    #{$woocommerce-default} {
        // buttons wp & wc
        #{$button-main-class} {
            // estilo base del button ==> .button
            @include set-button-style(solid 1px transparent);
            @include set-new-button-style(transparent, $color-main, $color-main);
            @include set-new-button-hover($color-main,$white, $color-main);
            font-weight: $font-regular;

            // each new class button:  .button + .class
            @each $clase, $index, $index_color, $index_border in $button-class {
                $bgcolor: nth($index, 1);
                $fontcolor: nth($index, 2);
                $border: nth($index, 3);

                &.#{$clase} {
                    background: $bgcolor;
                    color: $white;
                    border-color: $bgcolor;
                    &:hover,
                        &:active,
                        &:focus {
                        background: $fontcolor;
                        color: $white;
                        border-color: darken($fontcolor, 10%);
                    }
                }
            }
        }
    }
}
