
// Clase Hide, esconde todo > $media-primary
._hide:not(._small) {
    @include media-breakpoint($media-xs + 1px) {
        display: none;
    }
}
._small {
    @include media-breakpoint($media-xs) {
        display: none;
    }
}

// Clase pad
.pad {
    @include padding(0 15px);
}

// Clase col
.col {
    @include block;
}

// Clase no-padding
.no-padding {
    @include padding(0);
}


body .container {
    width: 100%;
    max-width: 1200px;
}

.body-overflow {
    overflow: hidden;
}

body.woocommerce-checkout.overlay {
    overflow: hidden;
}

